*{
  font-family: sans-serif;
  /*color: #000000; */
}

body {
  background-color:  #115029;
}

#main {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#in-msg {
	width: 100%;
	height: 24px;
	margin: 0;
}

#chat {
  color: #ffffff;
  z-index: 0;
	/*overflow-y: scroll;*/
	height: calc(100% - 24px);
	margin: 0;
  line-height: 32px;
  padding-bottom: 9%;
  /*overflow-x:hidden;*/
}

#message {
  color: #4c0606;
  font-size: 18px;
  width: 100%;
}

#user {
  color: #4c0606;
  font-size: 18px;
  width: 100%;
}

#user_name {
  color: #d4af37;
}

/* id start by getting the text above the area the text box is */
#chatbox {
  padding-top: 2%;
  background-color: #a91919;
  display: flex;
  /*align-items: center;*/
  position: fixed;
  border-radius: 20px;
  bottom: 0%;
  left: 25%;
  right: 25%;
  padding-left: 5%;
  vertical-align: middle;
  font-size: 20px;
  border: 0;
}

#sides {
  background-color: #176d38;
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-bottom: 7%;
  /*border-top: 5px solid black*/
}
/*  */
#send {
  background-color: #6caa55;
  color: #c2bcbc;
  font-size: 24px;
  border-radius: 20px;
}

#login {
  background-color: #e59e24;
  color: #2d8633;
  font-size: 20px;
  border-radius: 20px;
}

#user-title {
  padding-right: 10px;
  color: #ddd9d9;
}

#msg-title {
  padding-right: 10px;
  color: #ddd9d9;
}

#img {
right: 25%;
padding-left: 5%;
}
