# file for excluding files from git repo (dev files)
backend/Backups/*

# chatlog
backend/webserver.log
backend/Chat-backup.txt
backend/command_log.txt
airhorn_default.wav
backend/chat-rooms_log.txt
backend/permission.txt
backend/accounts.txt
config/keys.conf
static/profiles

# running files
__pycache__/*
venv/*
.mypy_cache/*
node_modules/*
.upm/*
.config/*
.pythonlibs/
replit.nix
.replit
.local
addons.py
keys.py
