# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/*
venv/
.DS_Store
sc-build
server
/core/config/keys.conf
chat/__pycache__/*
user/__pycache__/*
online/__pycache__/*
private/__pycache__/*
/static/
.vscode/
logs/*

# css
frontend/src/compiled_css/*