[Unit]
AssertPathExists=/home/<user>/<dir_path>
After=network-online.target

[Service]
WorkingDirectory=/home/<user>/<dir_path>
ExecStart=gunicorn --bind 127.0.0.1:5000 --worker-class eventlet --threads 10 -w 1 main:app
Restart=always
RestartSec=1
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
 