%theme
    --topbar-background-color: black
    --topbar-text-color: white

    --usercard-text-color: white

    --sidenav-background-color: black
    --sidenav-text-color: white
    --sidenav-extend-button-color: white
    --sidenav-buttons-background-color: transparent
    --sidenav-buttons-text-color: white

    --bottom-bar-background-color: black

    --message-box-background-color: white
    --message-box-text-color: "null"

    --send-button-background-color: rgb(0, 94, 255)
    --send-button-text-color: white

    --userlist-background-color: black
    --userlist-text-color: white
    --userlist-border-color: black