{% extends 'index.html' %} 
{% block content %}

<style>
    #main {
        width: 100%;
        height: 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #reset_form {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #wrapper {
        width: 140%;
        height: 300px;
        display: grid;
        align-self: center;
        justify-self: center;
        border-radius: 25px;
    }

    form {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        text-align: center;
        padding-top: 25px;
        display: grid;
    }

    form input button{
        width: 80%;
        height: 35%;
        outline: none;
        color: white;
        border-radius: 12%;
    }

    .action-buttons {
        width: 100%;
        height: 40px;
        border: 0;
        border-radius: 5px;
        justify-self: center;
        background: red;
        color: white;
    }

    #content-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        padding-top: 22px;
    }

    .textField {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border-top-right-radius: 0px;
        border-right: 0;
        border-bottom-right-radius: 0;
        border: 0px;
        outline: none;
        text-indent: inherit;
    }
</style>

<div class="main">
    <div id="reset_form">
        <div id="wrapper">
            <h2>Reset your password</h2>
            <form method="post">
                <input type="text" id="user" placeholder="Username" value="{{username}}" name="username" hidden><br>

                <div class="loginInput">
                    <input type="password" id="passwd1" placeholder="New Password" autocomplete="new-password" name="password" class="textField">
                    <button id="showPswButton" type="button" onclick="showPassword('passwd1', 're1')">
                        <i class="fa-regular fa-eye fa-2xl" style="color: black;" id="re1" aria-hidden="true"></i>
                    </button>
                </div><br>

                <div class="loginInput">
                    <input type="password" id="passwd2" placeholder="Confirm New Password" autocomplete="new-password" name="password2" class="textField">
                    <button id="showPswButton" type="button" onclick="showPassword('passwd2', 're2')">
                        <i class="fa-regular fa-eye fa-2xl" style="color: black;" id="re2" aria-hidden="true"></i>
                    </button>
                </div><br>
                <button type='submit' name="reset" class="action-buttons">Reset Password</button>
                {% if error %}
                <h2 style="color:red;">{{error}}</h2>
                {% endif %}
            </form>
        </div>
    </div>
</div>

<script>
    const passwordState = ["visible", "hidden"]
    var currentPasswordState = passwordState[1]
    const textFields = document.getElementsByClassName("textField")

    const showPassword = (parent, icon) => {
        if (currentPasswordState == passwordState[1])
        {
            currentPasswordState = passwordState[0]
            document.getElementById(parent).type = 'text'
            document.getElementById(icon).classList.add("fa-eye-slash")
            document.getElementById(icon).classList.remove("fa-eye")
        }
        else if (currentPasswordState == passwordState[0])
        {
            currentPasswordState = passwordState[1]
            document.getElementById(parent).type = 'password'
            document.getElementById(icon).classList.remove("fa-eye-slash")
            document.getElementById(icon).classList.add("fa-eye")
        }
    }
</script>
{% endblock %}