<!DOCTYPE html>
<html>
	<head>
        <title>Class chat update logs</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" href="static/style.css"> 
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="cseven, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
    <!-- Need more information for the update and improve the page -->
    <body>
        <a href="/">return (not active)</a>
        <h1>Update 0.3.0.0-beta</h1>
        <h2>Chat Rooms!</h2>
        <p>Is that enough for you?</p>
        <p>(And easter eggs lol)</p>
        <p>This is the wrong verson it should be around beta 8</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.1.0-beta</h1>
        <h2>Updated the UI!</h2>
        <p>we have changed the UI to look more cleaner with less junk cludering up the menus. We have moved all customization to the settings page to clean the side bar for a very big update</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.0.1-beta</h1>
        <h2>magor bug fixes minor changes!</h2>
        <p>We have fixed whispering and issues with commands not running and added reason to mute and ban.</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.0.0-beta</h1>
        <h2>sending and Commands Update!</h2>
        <p>We have added amore advanced commands system with more commands that run the indended command once and fast.<br> This will now let us add commands for diffrent permission levels so users can have access to commands that they need while mods can get accesss to moderation commands with no issue.</p>
        <br>
        <p>We have made that its easier to tell if chat is locked or you or banned or muted with a system message sent to you privately saying you can't send. we have also moved whisper to the new sending system so now you can send whispers again.</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.3.2-beta</h1>
        <h2>Minor bug fixes</h2>
        <p>We have improved and fixed some issues in the chat.</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.3.1-beta</h1>
        <h2>Added the ability to remove profile pictures</h2>
        <p>If you don't want profile pictures you can remove them untill you want them back</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
       <h1>Update 0.1.3-beta</h1>
        <h2>Whisper user select menu</h2>
        <p>We have added a menu to select all users online so you never have to mess up typing a username ever again.</p>
        <h2>Profile Pictures in DB!</h2>
        <p>We have added in the customization page a profile picture box to add your profile pictures to your account.</p>
        <br>
        <h2>Contributors: cseven, and cserver</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.2-beta</h1>
        <h2>Profile pictures</h2>
        <p>We have finaly added Profile pictures to the chat. So now you can costomize your account more than ever.</p>
        <br>
        <h2>Contributors: cseven, cserver, Castyi</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.1-beta</h1>
        <h2>Menu Organization</h2>
        <p>We have moved all of the menus to the main chat page And requiring you to login to access the menu.<br>This allows us to make sure your page stays yours and not someone else's page.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.0-beta</h1>
        <h2>Profanity Filtering</h2>
        <p>So that this does not get flagged, plus no one likes cursing.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>End of alpha</h1>
        <br>
        <br>
        <h1>Update 0.0.4.2-alpha</h1>
        <h2>Account editing</h2>
        <p>if you go to https://tux.school-chat.us/customize you can edit you accounts collor, password, username.</p>
        <h2>Filtering!</h2>
        <p>Try out our new filtering system, where the server compiles the message together.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.4.1-alpha</h1>
        <h2>Bug fixes</h2>
        <p>Fixed the login menu not working and removed the user, password, and role textboxes.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update v0.0.4.0-alpha</h1>
        <h2>Accounts!</h2>
        <p>We have made accounts allowing you to login and edit you account, message colors, and themes.</p>
        <h2>Wispering!</h2>
        <p>You can now talk to only one person using the wisper text box just type the userame in the first box and in the 2nd type tou message.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update v0.0.3.4-alpha</h1>
        <h2>Bug fixes removed EA restrictions</h2>
        <p>you can no longer remove you ban or mute by deleting the cookie or local storage file. You also no longer remove ban by muting and them unmute yourself.<br>Removed the password in the main chat page so now you no longer </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.3.3-alpha</h1>
        <h2>Pinging!</h2>
        <p>If you type "@username!" it will ping the user.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.3.2-alpha</h1>
        <h2>data lost</h2>
        <p>Data lost</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.3.1-alpha</h1>
        <h2>data lost</h2>
        <p>Data lost</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.3.0-alpha</h1>
        <h2>data lost</h2>
        <p>Data lost</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.3-alpha</h1>
        <h2>Bug fixes and cookie eater</h2>
        <p>Fixed some socket io errors and add cookie eater that clears all cookies and removes usernames</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.2-alpha</h1>
        <h4>implemented socket io to sending</h4>
        <p>we added socket io to sending messages so not you send messages instantly no delay!</p>
        <h4>added the rule popup</h4>
        <p>we added rules and you must accept to chat if you decline you can see chat but not send messages!</p>
        <h4>Filtering usernames</h4>
        <p>we have readded filtering usernames for example you can no longer send ad "[admin]" and many more!</p>
        <h4>Fixed Dev features</h4>
        <p>We have fixed send 100 lines, send as admin, and mod, reseting chat, and server stats</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.1-alpha</h1>
        <h2>Bug fixes</h2>
        <p>Fixed user colors not getting set and fixed sending messages</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.0-alpha</h1>
        <h2>Reworked the framework!!</h2>
        <p>The biggest change is that we reworked the framework and implemented socket io the server now runs a lot more efficiently.<br>
        Thanks to flask running socket io we can now implement things that we have wanted to but couldn't without socket io. More updates soon!</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.1.1-alpha</h1>
        <h4>Bug fixes and quality of life</h4>
        <p>Fixed roleEelement from being null. Added default colors</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.1.0-alpha</h1>
        <h4>Colors</h4>
        <p> Colors are out you can now change your username, role, and message color for more freedom to have fun</p>
        <h4>ideas and bugs</h4>
        <p>you can finally give your ideas and report bugs quickly by pressing report bugs or share ideas  </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Class chat was made by:</p>
        <p>cserver, and cseven </p> <!--, and our Intern Owen</p> lol-->
    </body>
</html>