*{
  font-family: sans-serif;
  scrollbar-width: none;
}

#body {
  margin: 0;
  background-color: #000000;
  color: #dd7016;
}

.debugpage {

}

#main {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#online_users {
    padding-left: 0.5%;
    color: white;
}

#notif {
  font-size: 22px;
  background-color: red;
}

#pfpbtn {
    font-size: 22px;
    background-color: red;
}

.pfp {
    margin: -13px 0;
    height:30px;
    width:30px;
    border-radius:100px;
    overflow: hidden
    dragable: false;
    border: 2px solid #404040;
}

#in-msg {
	width: 100%;
	height: 24px;
	margin: 0;
}

#chat {
    z-index: 0;
    height: calc(100% - 24px);
	padding-left: 5%;
    padding-right: 12%;
    margin-left: 1.5%;
    line-height: 40px;
    padding-bottom: 9%;
    padding-top: 9%;
    word-wrap: break-word;
}

#message {
    font-size: 18px;
    width: 100%;
}

#user_name {
    color: #d4af37;
}

/* id start by getting the text above the area the text box is */
#chatbox {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    position: fixed;
    border-radius: 20px;
    bottom: 0%;
    left: 25%;
    right: 25%;
    padding-left: 5%;
    vertical-align: middle;
    font-size: 20px;
    border: 0;
}

#sides {
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding-bottom: 7%;
    /*border-top: 5px solid black*/
}

#activenav {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-bottom: 54%;
    margin-left: 88%;
    border-left: 5px solid blue;
}

#send {
    font-size: 24px;
    border-radius: 20px;
}

#send:hover {
    color: #787773;
}

#user-title {
    padding-right: 10px;
}

#msg-title {
    padding-right: 10px;
}

#img {
    right: 25%;
    padding-left: 5%;
}

#topleft {
    position: fixed;
    width: 0%;
    padding-top: .5%;
    /*color: #c2bcbc;*/
    font-size:40px;
    cursor:pointer
}

#topleftDB {
    position: absolute;
    width: 0%;
    padding-top: .5%;
    /*color: #c2bcbc;*/
    font-size:40px;
    cursor:pointer
}

.topright {
    position: fixed;
    width: 0%;
    margin-left: 85%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size:30px;
    cursor: pointer;
    color: white;
}

#DevchatB {
    color: white;
    font-size: 28px;
}




/* Nav Menu left */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d0c8c8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




/* Menu options */

#user {
    color: #000000;
    font-size: 30px;
    width: 100%;
}

#dark {
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#light {
    background-color: #9a9996; 
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#specal1 {
    background-color: #3d3846;
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#event {
    background-color: #62a0ea;
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#val {
    background-color: #ff33e4;
    color: #8a0a7f;
    font-size: 30px;
    display: flex;
}

#specal2 {
    background-color: #3d3846;
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#login {
    background-color: #e59e24;
    color: #2d8633;
    font-size: 20px;
    border-radius: 20px;
}

#user_colorTXT {
    color: #d0c8c8;
}




/* Dropdown Button */
#colorDropdown {
    border-radius: 20px;
}
    
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.onelinelsbtn {
    background-color: #241f31;
    color: #9a9996;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.droptheme {
    display: none;
    position: absolute;
    background-color: #323538;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #26a269;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #323538;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* nav menu right */

.sidenavR {
    height: 68%;
    right: 12%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #241f31;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    scrollbar-width: none;
}

.sidenavRC {
    height: 80%;
    right: 12%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #241f31;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    scrollbar-width: none;
}

.sidenavR a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d0c8c8;
    display: block;
    transition: 0.3s;
}

.sidenavR a:hover {
    color: #f1f1f1;
}

.sidenavR .closebtnR {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-left: 0%;
}

@media screen and (max-height: 550px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Dev menu text */

#Devnavtext {
    color: #bbb4b4;
}





/* Right menu options*/

.std_box {
    background-color:  #000000;
    color:  #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

.dashed_btn {
    border-style: dashed;
    border-color: #f6d32d;
}

.std_btn {
    font-size: 20px;
    border-radius: 20px;
}

.red_btn {
    background-color:  #c61010;
    color:  #ffd500;
}

.warn_btn {
    background-color:  #ff0000;
    color:  #ffd500;
}

.green_btn {
    background-color:  #54da0b;
    color:  #000000;
}

.blue_btn {
    background-color:  #1c71d8;
    color:  #000000;
}

.jotd_btn {
    background-color:  #D51956;
    color:  #000000;
}

.song_btn {
    background-color:  #08bd71;
    color:  #000000;
}

.black_btn {
    background-color:  #000000;
    color:  #ffffff;
}

#mute {
    background-color:  #77767b;
    color:  #000000;
}

#EventMSGT {
    background-color:  #000000;
    color:  #ffffff;
    font-size: 20px;
    border-radius: 10px;
}

#dev_chat {
    background-color: black;
}

/* The message text color dropdown button */

.dropbtnTXT {
    background-color: #111111;
    color: black;
    padding: -16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 150%;
}

.dropbtnTXT:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-contentTXT {
    display: none;
    position: absolute;
    background-color: #3f3f3f;
    min-width: 90px;
    max-height: -80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%;
}

.dropdown-contentTXT a {
    color: black;
    padding: 12px -16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.showTXT {display: block;}

/* the POPUP FOR RULES */

.popupbox {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    line-height: 28px;
    width: 30%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 100px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .limited_close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/*.popup .close:hover {
    color: orange;
}*/

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popupoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* These are the rules you are looking for. */
.popupoverlay {
    transition: opacity 500ms;
    opacity: 1;
    pointer-events: all;
}

.popupoverlay:target {
    opacity: 0;
    pointer-events: none;
}



#account{
    color: white;
    font-size: 36px;
    paddin: 
}

.sidenava {
    height: 45%;
    right: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #241f31;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenava a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d0c8c8;
    display: block;
    transition: 0.3s;
}

.sidenava a:hover {
    color: #f1f1f1;
}

.sidenava .closebtna {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* account page */
#login {
    
}

#logintxt1 {
    background-color: wheat;
    color: wheat;
}

#logintxt2 {
    background-color: wheat;
    color: wheat;
}

#user {
    color: #000000;
    font-size: 30px;
    width: 100%;
    background-color: #40be37ff;
}

#pass {
    color: #000000;
    font-size: 30px;
    width: 100%;
    background-color: #c84646;
}


/* signup page */
.signuptext {
    border-radius: 20px;
    height: 30px;
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 37%;
}

.signupbtn {
    margin-top: 30px;
    font-size: 20px;
    width: 15%;
    border-radius: 20px;
    height: 30px;
    border-color: black;
    color: white;
    background: darkgray;
    margin-left: 45%;
}

.signupbtn:hover {
    background: green;
}

#SPassword:hover {
    background: green;
}

#SPassword2:hover {
    background: green;
}

#SUsername:hover {
    background: green;
}

#SDesplayname:hover {
    background: green;
}

#SRole:hover {
    background: green;
}

#SPassword {
    background: white;
    font-size: 20px;
    /* height: 50%; */
    /* width: 50%; */
}

#SPassword2 {
    background: white;
    font-size: 20px;
}

#SUsername {
    background: white;
    font-size: 20px;
    margin-top: 11%;
}

#SDesplayname {
    background: white;
    font-size: 20px;
}

#SRole {
    background: white;
    font-size: 20px;
}


.rainbow-text-loop {
/*   font-size: 1.5rem; */
  display: inline-block;
/*   margin-top: 1rem; */
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite; 
}

@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}


.rainbow-text-loop-b {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbowb 5s infinite; 
}

@-webkit-keyframes rainbowb{
  0%{background-color: orange;}  
  10%{background-color: purple;} 
  20%{background-color: red;}
  30%{background-color: CadetBlue;}
  40%{background-color: yellow;}
  50%{background-color: coral;}
  60%{background-color: green;}
  70%{background-color: cyan;}
  80%{background-color: DeepPink;}
  90%{background-color: DodgerBlue;}
  100%{background-color: orange;}
}

.Dev_colors-loop {
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: Dev_colors 5s infinite; 
}

.ow_colors-loop {
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: ow_colors 10s infinite; 
}

@-webkit-keyframes Dev_colors {
  0%{color: #f47106;} 
  25%{color: blue;}
  50%{color: #00FF00;}
  100%{color: #f47106;}
}

@-webkit-keyframes ow_colors {
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}

#airesponce {
    background-color: #343232;
    width: 1600px;
    font-size: 20px;
    color: #ffffff;
    /* padding: 50px; */
}