* {
  font-family: sans-serif;
  scrollbar-color: orange black;
}

body {
  background-color: #000000;
  color: #dd7016;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

#LoginContent {
  padding-bottom: 13%;
}

#example {
    line-height: 40px;
    max-width: 1000px;
    margin-top: 3%;
    margin-bottom: 3%;
}

#border {
    border: 5px solid grey;
    rotate: 90deg;
    margin: 0 auto;
}

#online_buttons {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
}

#online_users {
    padding-left: 0.7%;
    padding-top: 5%;
    color: #ffffff;
}

#online_border {
     border: 5px solid grey;   
     margin-top: 55px;
     width: 11.5%;
     position: fixed;
}

#notif {
  font-size: 22px;
  background-color: red;
}

#pfpbtn {
    font-size: 22px;
    background-color: red;
}

.pfp {
    margin: -13px 0;
    height:30px;
    width:30px;
    border-radius:100px;
    overflow: hidden
    dragable: false;
    border: 2px solid #404040;
}

#pfpmenu {
    border-radius: 100px;
    width: 45px;
    height: 45px;
    border: 2px red solid;
}

#chat {
    z-index: 0;
	padding-left: 5%;
    padding-right: 12%;
    margin-left: 1.5%;
    line-height: 40px;
    padding-bottom: 9%;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-top: 9%;
    word-wrap: break-word;
}

#message {
    font-size: 18px;
    width: 100%;
    border-radius: 15px;
}

/* id start by getting the text above the area the text box is */
#chatbox {
    display: flex;
    width: 50%;
    height: 100%;
    align-self: center;
}

#sides {
    position: fixed;
    bottom: 0%;
    width: 100%;
    /*border-top: 5px solid black;*/
    justify-content: center;
    display: flex;
    height: 8%;
    margin: 0px -7.7px;
    background: black;
}

#activenav {
  position: fixed;
  top: 7%;
  width: 100%;
  padding-bottom: 60%;
  margin-left: 88%;
  border-left: 5px solid #000;
  color: white;
  box-shadow: 10px 20px 17px 16px #191919;
}

.activenav {
    color: white;
    text-decoration: none;
}

#send {
    font-size: 24px;
    border-radius: 22%;
}

#send:hover {
    color: #787773;
}

#msg-title {
    padding-right: 10px;
}

#img {
    right: 5%;
    padding-left: 5%;
}

#topleft {
    width: 3%;
    height: 100%;
    padding-left: 5px;
    background: transparent !important;
    display: grid;
    align-items: center;
    padding-bottom: 3px;
}

/* Nav Menu left */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 57px;
    background: black;
    scrollbar-width: thin;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d0c8c8;
    display: block;
    transition: 0.3s;
    background: black;
    border-radius: 15px;
    height: 40px;
    width: 84%;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    margin: -73px 74%;
    width: 12px !important;
    font-size: 40px !important;
    background: transparent !important;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Menu options */

#dark {
    background-color: #000000;
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#light {
    background-color: #9a9996; 
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#holiday {
    background-color: #ffffff; 
    color: #000000;
    font-size: 30px;
    display: flex;
}

#testing {
    background-color: #494947; 
    color: #ffffff;
    font-size: 30px;
    display: flex;
}

#winter {
    background-color: #040c81; 
    color: #74ade2;
    font-size: 30px;
    display: flex;
}


/* Styling for the theme dropdown container */
.themeDropdown {
    position: relative;
    display: inline-block;
}

/* Styling for the "Themes" button */
.themeBtn {
    background-color: #333533;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Styling for the dropdown content (hidden by default) */
.themeContent {
    display: none;
    position: absolute;
    background-color: #1a1919;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Styling for the dropdown links */
.themeOption {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Styling for the dropdown links on hover */
.themeOption:hover {
    background-color: #e66100;
}

.std_box {
    background-color:  #000000;
    color:  #ffffff;
    font-size: 20px;
    border-radius: 7px;
    width: 45%;
    height: 40px;
}

/* signup page */
.signuptext {
  height: 40px;
  width: 85%;
  text-align: left;
  justify-self: center;
  margin: 7px 0;
  color: #4f4f4f;
  text-indent: 12px;
  font-weight: normal;
  font-family: sans-serif;
  outline: none;
  border: 0px;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  text-decoration: none;
  background: transparent;
  border-bottom: 1.5px #555 solid;
  font-size: 14px;
}

.signuptext:focus {
  transition: all 0.7s;
  color: white;
}

.signupbtn {
  width: 91%;
  border-radius: 11px;
  height: 42px;
  color: white;
  background: #000;
  font-size: 20px;
  border: 0px;
  margin-left: 23px;
}

.signupbtn:hover {
  background: #2b2b2b;
}

.rainbow-text-loop {
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite; 
}

@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}

.Dev_colors-loop {
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: Dev_colors 5s infinite; 
}

@-webkit-keyframes Dev_colors {
  0%{color: #f47106;} 
  25%{color: blue;}
  50%{color: #00FF00;}
  100%{color: #f47106;}
}

/* Login popup */

.LoginInput {
  width: 92%;
  height: 35px;
  border-radius: 10px;
  border: 1px;
  outline: none;
  margin-bottom: 10px;
  background: aliceblue;
}

.LoginPopup {
    background: #ffffff;
    color: black;
    width: 24%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    margin-left: -8px;
    margin-top: -7px;
    display: grid;
    align-content: end;
}

.LoginBTN {
    background: #2990f9;
    color: white;
    border: 0px;
    width: 92%;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
}

.LoginBTN:hover {
  background: #1b5c9d;
}

.PictureBTN {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.AccControls {
  display: block;
  position: absolute;
  background-color: black;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 55px;
  border-radius: 15px;
  margin: 2px -24px;
  border: 1px #939393 solid;
}

.AccountPopup {
  display: grid;
  text-align: center;
  margin: 5px 95%;
  position: fixed;
}

.AccountPopup a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.AccountPopup a:hover {
  border-radius: 10px;
  background: #2d2d2d;
  border: #c72b07e5 0.5px solid;
}

.ChatinfoLP {
    text-align: center;
    margin-left: 76px;
    width: 65%;
}
  
.LoginTTL {
    font-size: 80px;
}

.LoginTXT {
    color: white;
    text-align: left;
}


.version {
    background: #2d2d2d;
    color: white;
    border: 1px solid grey;
    /* padding: .25em; */
    position: fixed;
    bottom: -20px;
    left: 92.8%;
    transform-origin: top left;
    border-radius: 5%;
}

#PfPdisplay {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 4px;
  border-color: red;
  border-style: solid;
}

#ProfileDisplay {
  display: flex;
  width: 99%;
}

.StatusBTN {
  height: 40px;
}

#Btm-nav {
  position: fixed;
  background: #e5dcdc1c;
  width: 15%;
  height: 36%;
  margin: 429px 15px;
  display: grid;
  border-radius: 10px;
}

.btm-pop {
  background: transparent;
  font-size: 21px;
  border-top: 3px solid black;
  border-bottom: 3px;
  border-left: 0px;
  border-right: 0px;
  color: white;
}

.SignUpForm {
  background: #00000085;
  height: 50%;
  width: 54%;
  border-radius: 12px;
  display: flex;
  margin: 210px auto;
  box-shadow: 0px 1px 31px 3px black;
  border: 3px #ffffff4d solid;
}


#tos-btm {
  position: fixed;
  align-self: end;
  width: 35%;
  justify-content: space-evenly;
  display: flex;
  height: 10%;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #00000063;
  background: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#tos-popup {
  background: white;
  position: fixed;
  z-index: 99;
  width: 35%;
  height: 60%;
  display: none;
  margin: 123px 44%;
  border-radius: 12px;
}

.tos-btn {
  width: 77%;
  height: 60%;
  align-self: center;
  border-style: double;
  border-color: #9c58ff;
  color: #d40ad4;
  border-radius: 12px;
}

#tos-accept {
  background: #561b56;
}

#tos-decline {
  background: transparent;
}

#tos-body {
  width: 100%;
  height: 78%;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: thin;
  align-content: baseline;
  display: grid;
}

#tos-header {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#header-2 img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
#header-2 {
  margin: 26px -23px;
  display: grid;
}

.header-item {
  width: 100%;
  justify-content: center;
}

#topbar {
  background: black;
  position: fixed;
  width: 100%;
  height: 8%;
  margin: -1% -7.7px;
  padding: 0px;
  display: flex;
  box-shadow: 0px -1px 44px 15px #191919;
  z-index: 1;
  margin-bottom: 100%;
  align-items: center;
}

#nav {
  width: 100%;
  height: 6%;
  border-bottom: 2px gray solid;
}

.SettingsNavItem {
  width: 12.76%;
  height: 100%;
  font-size: 19px;
  border: 0px;
  background: transparent;
  border-radius: 15px;
  padding: 12px;
  font-family: sans;
  text-align: center;
  color: white;
}

.SettingsNavItem:hover {
  background: #64646469;
}

#MainSettingsBody {
  width: 100%;
  height: 17%;
  display: grid;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: 100%;
  border-radius: inherit;
  background: transparent;
  width: 100%;
}

#ButtonContainer {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 15px;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

input[type="file"] {
    display: none;
}

#FileClick {
  width: fit-content;
  height: fit-content;
}

#imageContentControl {
  width: 130px;
  height: 130px;
  background: transparent;
  border-radius: 100%;
  display: grid;
}

#ImageHoverPreview {
  position: absolute;
  z-index: 9;
  width: 122px;
  height: 122px;
  border-radius: 100%;
  align-self: center;
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0%;
  color: white;
  font-family: sans-serif;
  margin-left: 8px;
  margin-top: 16px;
}

#ImageHoverPreview:hover {
  opacity: 100%;
  background: #0000005e;
}

#StatusContainer {
  background: #282828;
  width: 297px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  align-self: end;
  position: fixed;
  bottom: 1%;
}

.statusButton {
  width: 45%;
  height: 75%;
  border-radius: 11px;
  color: white;
  border: 1.7px #b5aeae solid;
}

.statusButton:hover {
  opacity: 75%;
}

#change {
  background: cyan;
}

#cancelButton {
  background: transparent;
  justify-content: center;
  align-content: center;
  display: grid;
  text-decoration: none;
}

#notificationsButton {
  width: 160px;
  height: 49px;
  border: 1px #1522ee solid;
  background: transparent;
  color: white;
  border-radius: 8px;
}

#notificationsButton:hover {
  background: #1e1e1e;
}

#user_colorTXT {
  margin-top: 60px;
}

#signupContainer1 {
  width: 100%;
  align-items: center;
  display: grid;
}

#signupContainer2 {
  width: 64%;
  margin-top: 9%;
}

#admin_menu {
  display: none;
  margin-top: 4%;
  position: fixed;
  margin-left: 60%;
  background: rgb(21, 21, 21);
  width: 500px;
  height: 500px;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  z-index: 9;
}

.devButtons {
  background: transparent;
  color: white;
  font-size: 25px;
  height: 100%;
  width: 100%;
  border-radius: 9px;
  border: 2px gray solid;
}

.devButtons:hover {
  transition: 0.6s all;
  background: #403e3e;
  border: 2px #7ebfd5 solid;
}