{% extends 'index.html' %}
{% block header %}
<meta charset="UTF-8">
<title>Chat Games</title>
<script src="static/games/game.js"></script>
<link rel="stylesheet" href="static/games/games.css"> 
{% endblock %}
{% block content %}
<div id="game_sel">
    <!-- I will preitfy it later (maybe we will have screenshots of the game, instead of just links?) -->
    <a href="/game/game">The Game (idk what we call it)</a>
    <a href="/game/towerD">Tower Defence</a>
</div>

<div class="activenav" id="activenav">
    <div class="AccountPopup">
        <input type="image" id="pfpmenu" src="static/favicon.ico" class="PictureBTN" onclick="OpenAC();"/>
        <div id="AccControls" class='AccControls'>
            <a href="/logout">Logout</a>
            <a href="/chat">Chat</a>
        </div>
    </div>
    <!-- <hr id="online_border"> -->
    <div id="online_users"></div>
</div>
{% endblock %}
