<!DOCTYPE html>
<html>
	<head>
        <title>Class chat update logs</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" href="static/style.css"> 
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body id="body">
      <h1>About us!</h1>
        <p>This chat was made to hang out with friends. It started nothing more than a barly funtuning chat made in a few days and as the weeks went on the chat grew and got better <br> <h3>founded by Connor A and Joseph B</h3></p>
    </body>
</html>