<!DOCTYPE html>
<html>
	<head>
        <title>Class chat account customize page</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE acc-edit.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/acc-edit.js"></script>
        <script src="static/styles.js"></script>
        <script src="static/html-stuff.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>

    <body id="body">
        <div id="loginStuff">
            <p>Username:</p>
                <input type="text" id="user" placeholder="Username" autocomplete="off"><br>
                <p>Password:</p>
                <input type="password" id="pass" placeholder="Password" autocomplete="off"><br>
            <button id="login" onclick="login();">Login</button>
        </div>
        <div id="chatStuff" style="display: none;">
            <p>1 no spaces (it breaks code)<br> 2 your displayname must be at max 12 letters (to not overflow sizing)<br> 3 no usernames with code in them (so it will not break code and let people send whispers to you)</p><br>
            <h3 id="user_colorTXT">message settings</h3>
                    <p id="user_colorTXT">Username: </p>
                    <input type="text" id="username" name="Username" placeholder="Username" maxlength="12"><br>
                    <input type="color" value="#ffffff" id="user_color" name="color choser"><br>
                    <p id="user_colorTXT">Role: </p>
                    <input type="text" id="role" name="role" placeholder="role" maxlength="18"><br>
                    <input type="color" value="72a1d3" id="role_color" name="color choser"><br>
                    <p id="user_colorTXT">Message: </p>
                    <input type="color" value="#ffffff" id="message_color" name="color choser"><br>
                    <p id="user_colorTXT">Profile pictures</p>
                    <input type="text" id="profile" name="profile picture" placeholder="Profile Picture" class='std_box' style="width: 100%;"><br>
                    <div class="colorDropdown">
                        <button onclick="dropdownTheme()" class="dropbtn">Themes</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a id="dark" onclick="setDarkStyle();">Dark</a>
                            <a id="light" onclick="setLightStyle();">Light</a>
                            <a id="specal1" onclick="setSpecalStyle();">Specal</a>
                            <a id="event" onclick="whichEvent();">Event</a>
                        </div>
                    </div>
        </div>
        <hr id="border">
        <div id="accountStuff" style="display: none;">
            <p id="user_colorTXT">Login username:</p><br>
            <input type="text" id="Ausername" placeholder="login username" maxlength="15" disabled><br>
            <p id="user_colorTXT">Password:</p><br>
            <input type="password" id="Apassword" placeholder="Password"><br>
            <br>
            <input id="notif" type="button" onclick="NotificationsB()" value='Disable notifications' /><br>
            <input id="pfpbtn" type="button" onclick="ProfilesB()" value='Disable profile pictures' /><br>
            <button onclick="update()" id="change">update</button><br>
            <br>
            <br>
            <br>
            <button id='logout' onclick="logout();">logout</button>
        </div>
    </body>
</html>