{% extends 'chat.html' %}
{% block header %}
{{ super() }}
<script src="/static/cmds.js"></script>
{% endblock %}

{% block panel_button %}
<button onclick="open_admin();" style="margin-left: 75%;background-color: #242323e7;color: #ae6303;position: absolute;height: 100%;">Admin Menu</button>
{% endblock %}

{% block panel_menu %}
<div id="admin_menu" style="display: none;">
   <div style="width: 100%; text-align: center;">
    <p>use any admin command, reset chat, commands logs, globalock...</p>
   </div>

   <div style="display: grid; width: 100%; justify-content: space-around; height: 84%;">
        <div style="display: flex; padding-bottom: 0px; height: 74%;">
            <button onclick="sendCmd('lock');" class="devButtons">Lock Chat</button><br>
            <button onclick="sendCmd('unlock');" class="devButtons">Unlock Chat</button><br>
            <button onclick="sendCmd('clear');" class="devButtons">Reset Chat</button><br>
        </div>
        <button onclick="sendCmd('lines');" class="devButtons">Send Lines</button><br>
        <button onclick="sendCmd('globalock (confirm)');" class="devButtons">globalock</button><br>
        <button onclick="sendCmd('cmd_logs');" class="devButtons">command logs</button><br><br>
        <div style="display: flex; align-items: center; justify-content: start; justify-self: start;">
            Send as admin:<input type="checkbox" id="send_as_admin">
        </div>
   </div>

   <div style="display: flex; justify-content: end; height: 17%; align-items: end; margin: -10% 0%; width: 98%;">
    <a href="javascript:void(0)" onclick="close_admin()" style="color: rgb(129, 129, 129);">×</a>
   </div>
</div>
{% endblock %}