<!DOCTYPE html>
<html>
    <head>
        <title>Backup logs</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/static.js"></script>
        <script src="static/chatlog.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="cseven, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
    <body onload="socket.emit('change_chunk', 'prev');" style="background-color: black; color: white;">
        <div id="chat">
        </div>
    </body>
    <button onclick="loadPrevious()">Previous</button>
    <button onclick="loadNext()">Next</button>
    <button onclick="resetPosition()">Reset</button>
</html>