<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Dev Chat</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/chat.js"></script>
        <script src="static/Cmds.js"></script>
        <script src="static/styles.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body id="body" onload="runCheckStartup();" > <!-- onload="runStartup();" -->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="#chaos">dev Info</a>
            <a href="#chaos">Tux Do List</a>
            <a href="#chaos">Code Page</a>
            <a href="https://stackoverflow.com">Need help with code?</a>
            <a href="#chaos">Webserver info</a>
            <input type="text" id="user" name="username" placeholder="username" maxlength="12"><br>
            <input type="text" id="role" name="role" placeholder="role" maxlength="20"><br>
            <input type="text" id="profile_picture" name="profile picture" placeholder=""disabled>
            <div class="colorDropdown">
                <button onclick="dropdownTheme()" class="dropbtn">Themes</button>
                <div id="myDropdown" class="dropdown-content">
                    <a id="dark" onclick="setDarkStyle();">Dark</a>
                    <a id="light" onclick="setLightStyle();">Light</a>
                    <a id="specal1" onclick="setSpecalStyle();">Specal</a>
                    <a id="event" onclick="whichEvent();">Event</a>
                    <!--  <button id="specal2" onclick="">Soon</button>-->
                </div>
                <h3><a href="mailto:harperom62@k12louisa.org">Contact us</a></h3>
            </div><br>
            <h3 id="user_colorTXT" >CHOOSE YOUR COLOR:</h3>
            <p id="user_colorTXT">Username: </p>
            <input type="color" value="#ffffff" id="user_color" name="color choser"><br>
            <p id="user_colorTXT">Role: </p>
            <input type="color" value="72a1d3" id="role_color" name="color choser"><br>
            <p id="user_colorTXT">Message: </p>
            <input type="color" value="#ffffff" id="message_color" name="color choser">
        </div>
        <span id="topleft" onclick="openNav()">☰</span>
        <div id="devSidenav" class="sidenavR">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="devcloseNav()">×</a>
            <h3 id="Devnavtext">This is the dev menu use for testing and admistrating chat</h3>
            <p id="Devnavtext">Enter message here and send as admin</p>
            <input type="text" id="fsendT" placeholder="Force Send message:"><br>
            <button onclick="" id="fsendB">Force Send</button>
            <button onclick="" id="lock">Lock</button><button onclick="" id="unlock">Unlock</button><br>
            <p id="Devnavtext">Enter username in here for muting</p>
            <input type="text" id="muteuserbox" placeholder="type user to mute here:"><button onclick="" id="mute">Mute</button><button onclick="" id="unmute">Unmute</button><button onclick="" id="ban">Ban</button><br>
            <button id="cookieRemoverB">Cookie eater</button>
            <p id="Devnavtext">Send message as SYSTEM user</p>
            <input type="text" id="systemsendT" placeholder="Send message as SYSTEM"><button onclick="" id="systemsendB">Send</button><br>
            <button onclick='' id="chatlineB">Print total line count</button>
            <button onclick=";" id="chatspamB">Send 100 Empty lines</button>
            <button onclick=";" id="statsB">Send server stats in chat.</button><button onclick="" id="ChatrestB">Reset chat</button><br>
            <input type="text" id="sendimgT" placeholder="Paste img url here"><button onclick="" id="sendimgB">Send</button><br>
            <p id="Devnavtext">Send messages in bold/biger</p>
            <input type="text" id="EventMSGT" placeholder="Send message here"><button onclick="" id="EventMSGB">Send</button>
        </div>
        <span id="topright" onclick="devopenNav();">🔧</span>
        <div id="chat"> 
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Rules</h2>
                    <h4 style="color: red;">To use the chat you must agree to all rules and folow them</h4>
                    <!-- This hides it. -->
                    <div class="content">
                        <button class="limited_close" onclick="runLimitedStartup();">No</button>
                        <button class="close" onclick="runStartup();checkMsgBox();">Yes</button>
                        <p style="color: #000000;">1.No spamming (no more than 3 messages by one person in a row)<br>2.No uppercase words<br>3.No Cursing<br>4.Keep nicknames and roles consistent and noticeable as you if changed<br>5.No other languages besides English allowed unless prompted by a Founder or Developer<br>6.No photos or images<br>7.No more than 3 dots a message</p>
                    </div>
                </div>
            </div>
        </div><br/>
        <div id="sides"> <!-- sides is here so i dont get lost -->
            <div id="chatbox">      
                <p id="msg-title">Message: </p>  
                <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250" ><br>
                <button onclick="sendMessage();" id="send" >Send</button>
            </div>
        </div><br>
        <div id="activenav">
            <div id="accSidenav" class="sidenava"hidden>
                <a href="javascript:void(0)" class="closebtna" onclick="closeaccNav()">×</a>
                <p id="#logintxt1">Username:</p>
                <input type="text" id="user" placeholder="Username"><br>
                <p id="#logintxt1">Password:</p>
                <input type="text" id="pass" placeholder="Password"><br>
                <button id="login">Login</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <input type="text" name="username" placeholder="username" maxlength="12"><br>
                <input type="text" id="role" name="role" placeholder="role" maxlength="50"><br>
                <input type="text" id="profile_picture" name="profile picture" placeholder="Profile Picture">
            </div>
            <span id="account" onclick="openaccNav()" hidden>☰</span>
            <div id="online_users" style="color: white;">
                
            </div>
        </div>
    </body>
</html>