{% extends 'index.html' %}
{% block content %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <hr style="border: 5px solid grey;">
    <div>
        <!--- this is temp --->
        <input type="text" id="user" class="LoginInput" name="username" value='{{user}}' hidden>
        <p>change the chat room you are in</p>
        <div class="ChatRoomS">
            <div id="ChatRoomls">

            </div>
        </div>
        <h3>Make a chat room</h3>
        <input type="text" id="RoomCTXT"><button onclick="create_room();">Create</button>
        </div>
        <div id="extratext">
            <h6><a href="/changelog">Update log</a></h6>
            <h6><a href="mailto:harperom62@k12louisa.org">Contact us</a></h6>
            <h6><a href="https://docs.google.com/forms/d/e/1FAIpQLSdK8bsgzEn2kzDXQTu4sc-AP2HwK8aCZ_5NYhsKWItnJz2rDQ/viewform">Report Bugs</a></h6>
        </div>
</div>
<span id="topleft" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
<div id="DevStuff" class="sidenavR" style="display: none;">
    <br>
    <a href="javascript:void(0)" class="closebtnR" onclick="devcloseNav()">×</a>
    <h3 id="Devnavtext">This is the dev menu use for testing and admistrating chat</h3>
    <p id="Devnavtext">Enter message here and send as admin</p>
    <input type="text" id="fsendT" placeholder="Force Send message:" class='std_box'><br>
    <button onclick="FsendMessageA();" class="std_btn blue_btn">Force Send</button>
    <button onclick="lock_chat();" class="std_btn red_btn">Lock</button><button onclick="unlock_chat();" id="unlock" class="std_btn green_btn">Unlock</button><br>
    <p id="Devnavtext">Enter username in here for muting</p>
    <input type="text" id="muteuserbox" placeholder="type user to mute here:" class='std_box'><br>
    <button onclick="mute();" id="mute" class="std_btn">Mute</button>
    <button onclick="unmute();" class="std_btn blue_btn">Unmute</button>
    <button onclick="banHammer();" class="std_btn warn_btn dashed_btn">Ban</button><br>
    <p id="Devnavtext">Send message as SYSTEM user</p>
    <input type="text" id="systemsendT" placeholder="Send message as SYSTEM" class='std_box'>
    <button onclick="systemmessage();" id="systemsendB" class="std_btn blue_btn">Send</button><br><br>
    <input type="text" id="jsendT" placeholder="JOTD message:" class='std_box'>
    <button onclick="JsendMessage('jsendT');" class="std_btn jotd_btn">Send</button><br><br>
    <input type="text" id="SOsendT" placeholder="SONG message:" class='std_box'>
    <button onclick="SOsendMessage('SOsendT');" class='std_btn song_btn'>Send</button><br><br>
    <button onclick='getLines();' class='std_btn green_btn'>Print total line count</button>
    <button onclick='pingHandle();' class='std_btn green_btn'>Get ping time</button>
    <button onclick="testChatGC();" class="std_btn red_btn dashed_btn">Send 100 Empty lines</button>
    <button onclick="getStats();" class="std_btn green_btn">Send server stats in chat</button><button onclick="reset_chat()" class='std_btn dashed_btn warn_btn'>Reset chat</button><br>
    <button onclick="clearDB();" class='std_btn red_btn'>Reset DB</button><button onclick="refreshUsers();" class="std_btn dashed_btn green_btn">Refresh users DB</button><br><br>
    <button onclick="shutdown_server();" class="std_btn dashed_btn warn_btn">Shutdown server</button>
    <p id="Devnavtext">Send messages in bold/biger. (event)</p>
    <input type="text" id="EventMSGT" placeholder="Send message here"><button onclick="EsendMessage();" id="EventMSGB" class="std_btn blue_btn">Send</button>
    <br>
</div>
<div id="ModStuff" class="sidenavR" style="display: none;">
    <br>
    <a href="javascript:void(0)" class="closebtnR" onclick="ModcloseNav()">×</a>
    <h3 id="Devnavtext">This is the mod menu use for admistrating chat</h3>
    <p id="Devnavtext">Enter message here and send as mod</p>
    <input type="text" id="fsendTM" placeholder="Force Send message:" class='std_box'><br>
    <button onclick="FsendMessageM();" class="std_btn blue_btn">Force Send</button><br><button onclick="lock_chat();" class="std_btn red_btn">Lock</button><button onclick="unlock_chat();" id="unlock" class="std_btn green_btn">Unlock</button><br>
    <p id="Devnavtext">Enter username in here for muting</p>
    <input type="text" id="muteuserboxM" placeholder="type user to mute here:" class='std_box'><button onclick="mute();" id="mute" class="std_btn">Mute</button>
    <button onclick="unmute();" class="std_btn blue_btn">Unmute</button><br>
    <button onclick="banHammer();" class="std_btn warn_btn dashed_btn">Ban</button><br>
    <p id="Devnavtext">send stats about the chat</p>
    <button onclick='ajaxGetRequest("/chat_count", dummyajax);' class="std_btn green_btn">Print total line count</button>
    <button onclick="getStats();" class="std_btn green_btn">Send server stats in chat.</button><br>
    <button onclick="reset_chat()" class='std_btn dashed_btn warn_btn'>Reset chat</button><button onclick="refreshUsers();" class="std_btn dashed_btn warn_btn">Refresh users DB</button><br><br>
    <input type="text" id="sendimgTM" placeholder="Paste img url here" class='std_box'><button onclick="sendImage('sendimgTM');" class='std_btn black_btn'>Send</button><br> 
    <br>
    <br>
</div>
<span class="topright" id="toprightD" onclick="devopenNav();" style="display: none;">🔧</span>
<span class="topright" id="toprightM" onclick="ModopenNav();" style="display: none;">🛡</span>
<div id="chat">
    
</div>
<div id="sides">
    <div id="chatbox">      
        <p id="msg-title">Message: </p>  
        <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"></input><br/>
        <button onClick="sendMessage();" id="send">Send</button>
    </div>
</div><br>
<div class="activenav" id="activenav">
    <div class="AccountPopup">
        <input type="image" id="pfpmenu" src="static/favicon.ico" class="PictureBTN" onclick="OpenAC();"/>
        <div id="AccControls" class='AccControls'>
            <a href="/login">Logout</a>
            <a href="/settings">Settings</a>
            <a href="#">Random</a>
        </div>
    </div>
    <hr id="online_border">
    <div id="online_users">
        
    </div>
</div>
<script type='text/javascript' defer>runStartup();</script>
{% endblock %}