{% extends 'index.html' %}
<!-- {% block header %}
{% endblock %} -->
{% block content %}
<div id="topbar">
        
    <span id="topleft" style="font-size: 34px; cursor: pointer;  color: rgb(25, 32, 128);" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
    <h2 id="RoomDisplay" style="margin: 14.5px 0;">/e</h2>
    {% block panel_button %}{% endblock %}
    <div class="AccountPopup">
    <input type="image" id="pfpmenu" class="PictureBTN" onclick="OpenAC();" name="pfpmenu" src="static/favicon.ico">
    <div id="AccControls" class="AccControls" style="display: none;">
            <a href="/logout">Logout</a>
            <a href="/settings">Settings</a>
            <a href="/#">Soon</a>
        </div>
    </div></div>
    {% block panel_menu %}{% endblock %}
    <div id="mySidenav" class="sidenav" style="background-color: rgb(17, 17, 17); width: 0px;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: rgb(129, 129, 129);">×</a>
        <div style="align-self: baseline;">
            <div class="ChatRoomS">
                <div id="ChatRoomls"><hr></div>
            </div>
        </div>
            <div id="extratext" style="align-self: baseline;">
                <h6 class="=extrabuttons" style="padding: 0 0 15px 0;"><a class="extrabuttons" href="/changelog" style="color: rgb(129, 129, 129);">Update log</a></h6>
                <h6 style="padding: 0 0 15px 0;"><a class="extrabuttons" href="#TELL-THE-OWNERS-TO-GET-YOUR-OWN-CONTACT-FOR-YOU-AND-LET-THEM-CONTACT-US" style="color: rgb(129, 129, 129);">Contact us</a></h6>
                <h6 style="padding: 0 0 15px 0;"><a class="extrabuttons" href="https://github.com/01000011-00110111/School-Chat" style="color: rgb(129, 129, 129);">Source Code</a></h6>
            </div>
            <br>
            <br>
    </div>
<div id="chat"></div>

<div id="sides">
    <div id="chatbox" hidden>       
        <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"></input><br/>
        <button onClick="getMessage();" id="send">Send</button>
    </div>
</div><br>

<div class="activenav" id="activenav" style="background-color: rgb(12, 12, 12);">
    <!-- {% block panel %}{% endblock %} -->
    <div id="online_users">
        <p id="online"hidden></p>
        <p id="offline" hidden></p>
    </div>
</div>

<button id="chat-bottom-button">
    <i class="fa-solid fa-arrow-down" style="color: white;"></i>
</button>

<script src="static/chat.js"></script>
<script src="static/online.js"></script>
<script src="static/styles.js"></script>
<script type='text/javascript' defer>runStartup();</script>
{% endblock %}
