{% extends 'index.html' %}
{% block content %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <hr style="border: 5px solid grey;">
    <div>
        <!--- this is temp --->
        <input type="text" id="user" class="LoginInput" name="username" value='{{user}}' hidden>
        <p>change the chat room you are in</p>
        <div class="ChatRoomS">
            <div id="ChatRoomls"></div>
        </div>
    </div>
        <div id="extratext">
            <h6><a href="/changelog">Update log</a></h6>
            <h6><a href="mailto:harperom62@k12louisa.org">Contact us</a></h6>
        </div>
</div>
<span id="topleft" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
<div id="chat"></div>
<div id="sides">
    <div id="chatbox">      
        <p id="msg-title">Message: </p>  
        <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"></input><br/>
        <button onClick="sendMessage();" id="send">Send</button>
    </div>
</div><br>
<div class="activenav" id="activenav">
    <div class="AccountPopup">
        <input type="image" id="pfpmenu" src="static/favicon.ico" class="PictureBTN" onclick="OpenAC();"/>
        <div id="AccControls" class='AccControls'>
            <a href="/chat">Logout</a>
            <a href="/settings">Settings</a>
            <a href="#">Random</a>
        </div>
    </div>
    <hr id="online_border">
    <div id="online_users"></div>
</div>
<script type='text/javascript' defer>runStartup();</script>
{% endblock %}