{% extends 'chat.html' %}
{% block header %}
{{ super() }}
<script src="/static/cmds.js"></script>
{% endblock %}

{% block dev_commands %}
<li><button command="sudo report_list" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo report_list</button></li>
<li><button command="sudo lock" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo lock</button></li>
<li><button command="sudo unlock" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo unlock</button></li>
<li><button command="sudo mute" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo mute</button></li>
<li><button command="sudo unmute" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo unmute</button></li>
<li><button command="sudo clear" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo clear</button></li>
<!-- <li><button command="sudo report username_here reason_here" trigger="$" privilege="mod" class="sudo_cmd_button">$sudo report</button></li> -->
<li><button command="sudo ban" trigger="$" privilege="admin" class="sudo_cmd_button">$sudo ban</button></li>
<li><button command="sudo unban" trigger="$" privilege="admin" class="sudo_cmd_button">$sudo unban</button></li>
<li><button command="sudo cmd_logs" trigger="$" privilege="admin" class="sudo_cmd_button">$sudo logs</button></li>
<li><button command="sudo globalock" trigger="$" privilege="admin" class="sudo_cmd_button">$sudo globalock</button></li>
<li><button command="sudo word_ban" trigger="$" privilege="admin" class="sudo_cmd_button">$sudo word_ban</button></li>
<li><button command="sudo word_unban" trigger="$" privilege="admin" class="sudo_cmd_button">$sudo word_unban</button></li>
<li><button command="sudo add_badge" trigger="$" privilege="dev" class="sudo_cmd_button">$sudo add_badge</button></li>
<li><button command="sudo remove_badge" trigger="$" privilege="dev" class="sudo_cmd_button">$sudo remove_badge</button></li>
<li><button command="sudo status" trigger="$" privilege="dev" class="sudo_cmd_button">$sudo status</button></li>
<li><button command="sudo pstats" trigger="$" privilege="dev" class="sudo_cmd_button">$sudo pstats</button></li>
<li><button command="sudo lines" trigger="$" privilege="dev" class="sudo_cmd_button">$sudo lines</button></li>
<li><button command="sudo clear_mutes" trigger="$" privilege="dev" class="sudo_cmd_button">$sudo clear_mutes</button></li>
{% endblock %}