{% extends 'chat.html' %}
{% block header %}
{{ super() }}
<script src="/static/cmds.js"></script>
{% endblock %}

{% block dev_commands %}
<li><button command="sudo report_list" trigger="$sudo report_list" privilege="mod" class="sudo_cmd_button">$report_list</button></li>
<li><button command="sudo lock" trigger="$sudo lock" privilege="mod" class="sudo_cmd_button">$lock</button></li>
<li><button command="sudo unlock" trigger="$sudo unlock" privilege="mod" class="sudo_cmd_button">$unlock</button></li>
<li><button command="sudo mute" trigger="$sudo mute" privilege="mod" class="sudo_cmd_button">$mute</button></li>
<li><button command="sudo unmute" trigger="$sudo unmute" privilege="mod" class="sudo_cmd_button">$unmute</button></li>
<li><button command="sudo clear" trigger="$sudo clear" privilege="mod" class="sudo_cmd_button">$clear</button></li>
<li><button command="sudo report username_here reason_here" trigger="$sudo report" privilege="mod" class="sudo_cmd_button">$report</button></li>
<li><button command="sudo ban" trigger="$sudo ban" privilege="admin" class="sudo_cmd_button">$ban</button></li>
<li><button command="sudo unban" trigger="$sudo unban" privilege="admin" class="sudo_cmd_button">$unban</button></li>
<li><button command="sudo cmd_logs" trigger="$sudo logs" privilege="admin" class="sudo_cmd_button">$logs</button></li>
<li><button command="sudo globalock" trigger="$sudo globalock" privilege="admin" class="sudo_cmd_button">$globalock</button></li>
<li><button command="sudo word_ban" trigger="$sudo word_ban" privilege="admin" class="sudo_cmd_button">$word_ban</button></li>
<li><button command="sudo word_unban" trigger="$sudo word_unban" privilege="admin" class="sudo_cmd_button">$word_unban</button></li>
<li><button command="sudo status" trigger="$sudo status" privilege="dev" class="sudo_cmd_button">$status</button></li>
<li><button command="sudo pstats" trigger="$sudo pstats" privilege="dev" class="sudo_cmd_button">$pstats</button></li>
<li><button command="sudo lines" trigger="$sudo lines" privilege="dev" class="sudo_cmd_button">$lines</button></li>
<li><button command="sudo clear_mutes" trigger="$sudo clear_mutes" privilege="dev" class="sudo_cmd_button">$clear_mutes</button></li>
{% endblock %}