<!DOCTYPE html>
<html>
    <head>
        <title>OCD wleb Potato man Skill Issue!!!1!</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/DBM.js"></script>
        <script src="static/styles.js"></script>
        <script src="static/accounts.js"></script>
        <script src="static/non-admin.js"></script>
        <script src="static/cmds.js"></script>
        <script src="static/dev.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body onload='runCheckStartup();' id="body">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div id="loginStuff">
                <p>Username:</p>
                <input type="text" id="user" placeholder="Username" autocomplete="off"><br>
                <p>Password:</p>
                <input type="password" id="pass" placeholder="Password" autocomplete="off"><br>
                <button id="login" onclick="login();">Login</button>
            </div>
            <div id="logoutStuff" style="display: none;">
                <p>Wisper to another user</p>
                <!-- <input type="text" id="private_user" name="wisper_user" class='std_box' placeholder="Wisper to:" style="width: 100%;"><br> -->
                 <div class="dropdown">
                    <button onclick="Onlinewprls()" class="onelinelsbtn">No user selected</button>
                        <div id="onlinels" class="droptheme">

                        </div>
                </div> 
                <input type="text" id="private_msg" name="wisper_msg" class='std_box' placeholder="Message" style="width: 100%;"><br>
                <button id="wisper_send" onclick="wisperMessage();">Send</button>
                <br>
                <input type="text" id="role" name="role" placeholder="role" hidden><input type="text" id="username" name="role" placeholder="role" hidden><br>
                <input type="text" id="profile_picture" name="profile picture" placeholder="Profile Picture" class='std_box' style="width: 100%;"hidden><br>
                <button id='logout' onclick="logout();" on>logout</button>
                <br><br><br><br><br><br><br>
            </div>
        </div>
            <span id="topleftDB" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <div class="debugpage" onload='Debugonlinels();'>
            <br>
            <br>
            <h3 id="Devnavtext">This is the debug page use for testing and admistrating chat</h3>
            <p id="Devnavtext">Enter message here and send as admin</p>
            <input type="text" id="fsendT" placeholder="Force Send message:" class='std_box'><br>
            <button onclick="FsendMessageA();" class="std_btn blue_btn">Force Send</button>
            <button onclick="lock_chat();" class="std_btn red_btn">Lock</button><button onclick="unlock_chat();" id="unlock" class="std_btn green_btn">Unlock</button><br>
            <p id="Devnavtext">Enter username in here for muting</p>
            <input type="text" id="muteuserbox" placeholder="type user to mute here:" class='std_box'><br>
            <button onclick="mute();" id="mute" class="std_btn">Mute</button>
            <button onclick="unmute();" class="std_btn blue_btn">Unmute</button>
            <button onclick="banHammer();" class="std_btn warn_btn dashed_btn">Ban</button><br>
            <button onclick="reloadPages()" class="std_btn warn_btn dashed_btn">Reload client(s)</button><br>
            <p id="Devnavtext">Send message as SYSTEM user</p>
            <input type="text" id="systemsendT" placeholder="Send message as SYSTEM" class='std_box'>
            <button onclick="systemmessage();" id="systemsendB" class="std_btn blue_btn">Send</button><br><br>
            <input type="text" id="jsendT" placeholder="JOTD message:" class='std_box'>
            <button onclick="JsendMessage('jsendT');" class="std_btn jotd_btn">Send</button><br><br>
            <input type="text" id="SOsendT" placeholder="SONG message:" class='std_box'>
            <button onclick="SOsendMessage('SOsendT');" class='std_btn song_btn'>Send</button><br><br>
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' class='std_btn green_btn'>Print total line count</button>
            <button onclick="testChatGC();" class="std_btn red_btn dashed_btn">Send 100 Empty lines</button>
            <button onclick="reset_chat()" class='std_btn dashed_btn warn_btn'>Reset chat</button><br><br><br>
            <input type="text" id="sendimgT" placeholder="Paste img url here" class='std_box'><button onclick="sendImage('sendimgT');" class='std_btn black_btn'>Send</button><br> 
            <p id="Devnavtext">Send messages in bold/biger. (event)</p>
            <input type="text" id="EventMSGT" placeholder="Send message here"><button onclick="EsendMessage();" id="EventMSGB" class="std_btn blue_btn">Send</button>
            <p id="Devnavtext">Send a message as a url.</p>
            <input type="text" id="urlsendT" placeholder="paste url here" class='std_box'><input type="text" id="urlsendT2" placeholder="put message here" class='std_box'><br>
            <button onclick="urlsend()" class="std_btn blue_btn">Send</button>
            <br>
            <span id="DevchatB" onclick="opendevchat();">Dev Chat</span>
             <div class="sidenavRC" id="dev_chat"><a href="javascript:void(0)" class="closebtnR" onclick="closedevchat()">×</a><a onclick="reloadiframe();">Refresh Dev Chat</a> <br> <iframe name="iframe1" id="dev_chat_iframe"
        frameborder="0" border="0" cellspacing="0"
        style="border-style: none; width: 100%; height: 725px;"></iframe>
             </div>
        <h3 id="Devnavtext">This is the developer/debug buttons and features used for the DB or server mangement.</h3>
            <button onclick="getStats();" class="std_btn green_btn">Send server stats in chat</button><br>
            <button onclick="refreshUsers();" class="std_btn dashed_btn warn_btn">Refresh users DB</button><br>
            <p>These features below can break chat if abused</p>
            <button onclick="clearDB();" class='std_btn red_btn'>Reset DB</button><p> ^ Change to reset the entire DB</p><br>
            <button>this button will let us add new line to a specic or every account db</button>
            <button>This button will let us remove a line to a specic or every account db</button>
        </div>
        <div id="activenav">
            <br><br>
            <div id="online_users">
                
            </div>
        </div>
        <div id="Privatemsg">
            
        </div>
    </body>
</html>

                 <div class="dropdown" hidden>
                    <button onclick="Onlinewprls()" class="onelinelsbtn" hidden>No user selected</button>
                        <div id="onlinels" class="droptheme" hidden>

                        </div>
                </div> 