<!DOCTYPE html>
<html>
	<head>
        <title>Desmos | Graphing Calculator</title>
        <link rel="icon" type="image/x-icon" href="https://help.desmos.com/hc/en-us/article_attachments/4413863846413/desmos_icon_square.png">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/chat.js"></script>
        <script src="static/styles.js"></script>
        <script src="static/non-admin.js"></script>
        <script src="static/accounts.js"></script>
        <script src="static/Cmds.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body onload="runCheckStartup();" id="body">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfdCGMUhy6RwT2yMtM7Egd8bC3VNAE5_-w_8wZzyXwBX9daVg/viewform">Share ideas</a>
            <a href="https://trello.com/b/ndht1H9F/chat-plans">Trello</a>
            <a href="https://tux.school-chat.us/changelog">Update log</a>
            <a href="#no more pranks">Soon</a>
            <a href="#your safe now">Soon</a>
            <h3><a href="mailto:harperom62@k12louisa.org">Contact us</a></h3>
            <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdK8bsgzEn2kzDXQTu4sc-AP2HwK8aCZ_5NYhsKWItnJz2rDQ/viewform">Report Bugs</a></h4>
        </div>
        <span id="topleft" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <div id="devSidenav" class="sidenavR">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="devcloseNav()">×</a>
            <h3 id="Devnavtext">This is the menu used by style editor staff</h3>
            <input type="text" id="SOsendT" placeholder="SONG message:">
            <button onclick="SOsendMessage();" id="SOsendB">Send</button><br>
            <input type="text" id="sendimgT" placeholder="Paste img url here"><button onclick="sendImage();" id="sendimgB">Send</button><br> 
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' id="chatlineB">Print total line count</button>
            <button onclick="refreshUsers();" id="rfUserDB">Refresh users DB</button><br><br>
        </div>
        <span id="topright" onclick="devopenNav();" style="color: white;">&#127925;</span>
        <div id="chat">
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Editor Rules</h2>
                    <h4 style="color: red;">To use the chat you must agree to all rules and folow them</h4>
                    <!-- This hides it. -->
                    <div class="content">
                        <button class="limited_close" onclick="runLimitedStartup();">No</button>
                        <button class="close" onclick="runStartup();checkMsgBox();">Yes</button>
                        <p style="color: #000000;">1.No spamming (no more than 3 messages by one person in a row)<br>2.No uppercase words<br>3.No Cursing<br>4.Keep nicknames and roles consistent and noticeable as you if changed<br>5.No other languages besides English allowed unless prompted by a Founder or Developer<br>6.No photos or images<br>7.No more than 3 dots a message<br>8.No abuse of power<br>9.Do not let anyone have access to dev web pages unless prompted by founders or developers<br>10.Do not edit chat.txt if you have access or don’t</p>
                    </div>
                </div>
            </div>
        </div><br>
        <div id="sides">
            <div id="chatbox">      
                <p id="msg-title">Message: </p>  
                <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"></input><br/>
                <button onClick="sendMessage();" id="send">Send</button>
            </div>
        </div><br>
        <div id="activenav">
            <div id="accSidenav" class="sidenava" hidden>
                <a href="javascript:void(0)" class="closebtna" onclick="closeaccNav()">×</a>
                <p id="#logintxt1">Username:</p>
                <input type="text" id="user" placeholder="Username"><br>
                <p id="#logintxt1">Password:</p>
                <input type="text" id="pass" placeholder="Password"><br>
                <button id="login">Login</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <input type="text" name="username" placeholder="username" maxlength="12"><br>
                <input type="text" id="role" name="role" placeholder="role" maxlength="50"><br>
                <input type="text" id="profile_picture" name="profile picture" placeholder="Profile Picture">
            </div>
            <span id="account" onclick="openaccNav()" hidden>☰</span>
            <div id="online_users" style="color: white;">
                
            </div>
        </div>    
    </body>
</html>