<!DOCTYPE html>
<html>
    <head>
        <title>OCD wleb Potato man Skill Issue!!!1!</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/static.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/accounts.js"></script>
        <script src="static/html-stuff.js"></script>
        {% block header %}
        {% endblock %}
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
        <meta content="School Chat" property="og:title" />
        <meta content="A chat app, what else did you think this is?" property="og:description" />
        <meta content="https://tux.school-chat.us" property="og:url" />
        <meta content="https://tux.school-chat.us/favicon.ico" property="og:image" />
	</head>
  
    <body id="body">
        {% block content %} 
        {% endblock %}
    </body>
</html>