<!DOCTYPE html>
<html>
    <head>
        <title>OCD wleb Potato man Skill Issue!!!1!</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/chat.js"></script>
        <script src="static/styles.js"></script>
        <script src="static/accounts.js"></script>
        <script src="static/non-admin.js"></script>
        <script src="static/cmds.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body onload='runCheckStartup();' id="body">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfdCGMUhy6RwT2yMtM7Egd8bC3VNAE5_-w_8wZzyXwBX9daVg/viewform">Share ideas</a>
            <a target="_blank" href="https://tux.school-chat.us/customize">customize account</a>
            <a href="https://tux.school-chat.us/changelog">Update log</a>
            <h3><a href="mailto:harperom62@k12louisa.org">Contact us</a></h3>
            <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdK8bsgzEn2kzDXQTu4sc-AP2HwK8aCZ_5NYhsKWItnJz2rDQ/viewform">Report Bugs</a></h4>
            <hr style="border: 5px solid grey;">
            <div id="loginStuff">
                <p>Username:</p>
                <input type="text" id="user" placeholder="Username" autocomplete="off"><br>
                <p>Password:</p>
                <input type="password" id="pass" placeholder="Password" autocomplete="off"><br>
                <button id="login" onclick="login();">Login</button>
            </div>
            <div id="logoutStuff" style="display: none;">
                <p>Wisper to another user</p>
                <div class="dropdown">
                    <input type="button" onclick="Onlinewprls()" id="onelinelsbtn" class="onelinelsbtn" value="No user selected">
                        <div id="onlinels" class="droptheme dropdown-content">

                        </div>
                </div>
                <input type="text" id="private_msg" name="wisper_msg" class='std_box' placeholder="Message" style="width: 100%;"><br>
                <button id="wisper_send" onclick="wisperMessage();">Send</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <input type="text" id="role" name="role" placeholder="role" hidden><input type="text" id="username" name="role" placeholder="role" hidden><br>
                <input type="text" id="profile_picture" name="profile picture" placeholder="Profile Picture" class='std_box' style="width: 100%;" hidden><br>
                <div class="colorDropdown">
                    <button onclick="dropdownTheme()" class="dropbtn">Themes</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a id="dark" onclick="setDarkStyle();">Dark</a>
                        <a id="light" onclick="setLightStyle();">Light</a>
                        <a id="specal1" onclick="setSpecalStyle();">Specal</a>
                        <a id="event" onclick="whichEvent();">Event</a>
                    </div>
                </div><br>
                <h3 id="user_colorTXT" >CHOOSE YOUR COLOR:</h3>
                <p id="user_colorTXT">Username: </p>
                <input type="color" value="#ffffff" id="user_color" name="color choser"><br>
                <p id="user_colorTXT">Role: </p>
                <input type="color" value="72a1d3" id="role_color" name="color choser"><br>
                <p id="user_colorTXT">Message: </p>
                <input type="color" value="#ffffff" id="message_color" name="color choser">
                <br><input id="notif" type="button" onclick="NotificationsB()" value='Disable notifications' /><br><!--<input id="pfpbtn" type="button" onclick="ProfilesB()" value='Disable profile pictures' /><br> -->
                <button id="Arefresh" onclick="updateacc()">Refresh</button>
                <br>
                <br>
<!--                 <button onclick="SpecialMenu();" id="SpecialE">Special Access enter</button> -->
                <br>
                <br>
                <button id='logout' onclick="logout();" on>logout</button>
                <br><br><br><br><br><br><br>
            </div>
        </div>
        <span id="topleft" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <div id="DevStuff" class="sidenavR" style="display: none;">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="devcloseNav()">×</a>
            <h3 id="Devnavtext">This is the dev menu use for testing and admistrating chat</h3>
            <p id="Devnavtext">Enter message here and send as admin</p>
            <input type="text" id="fsendT" placeholder="Force Send message:" class='std_box'><br>
            <button onclick="FsendMessageA();" class="std_btn blue_btn">Force Send</button>
            <button onclick="lock_chat();" class="std_btn red_btn">Lock</button><button onclick="unlock_chat();" id="unlock" class="std_btn green_btn">Unlock</button><br>
            <p id="Devnavtext">Enter username in here for muting</p>
            <input type="text" id="muteuserbox" placeholder="type user to mute here:" class='std_box'><br>
            <button onclick="mute();" id="mute" class="std_btn">Mute</button>
            <button onclick="unmute();" class="std_btn blue_btn">Unmute</button>
            <button onclick="banHammer();" class="std_btn warn_btn dashed_btn">Ban</button><br>
            <button onclick="reloadPages()" class="std_btn warn_btn dashed_btn">Reload client(s)</button><br>
            <p id="Devnavtext">Send message as SYSTEM user</p>
            <input type="text" id="systemsendT" placeholder="Send message as SYSTEM" class='std_box'>
            <button onclick="systemmessage();" id="systemsendB" class="std_btn blue_btn">Send</button><br><br>
            <input type="text" id="jsendT" placeholder="JOTD message:" class='std_box'>
            <button onclick="JsendMessage('jsendT');" class="std_btn jotd_btn">Send</button><br><br>
            <input type="text" id="SOsendT" placeholder="SONG message:" class='std_box'>
            <button onclick="SOsendMessage('SOsendT');" class='std_btn song_btn'>Send</button><br><br>
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' class='std_btn green_btn'>Print total line count</button>
            <button onclick="testChatGC();" class="std_btn red_btn dashed_btn">Send 100 Empty lines</button>
            <button onclick="getStats();" class="std_btn green_btn">Send server stats in chat</button><button onclick="reset_chat()" class='std_btn dashed_btn warn_btn'>Reset chat</button><br>
            <button onclick="clearDB();" class='std_btn red_btn'>Reset DB</button><button onclick="refreshUsers();" class="std_btn dashed_btn warn_btn">Refresh users DB</button><br><br>
            <input type="text" id="sendimgT" placeholder="Paste img url here" class='std_box'><button onclick="sendImage('sendimgT');" class='std_btn black_btn'>Send</button><br> 
            <p id="Devnavtext">Send messages in bold/biger. (event)</p>
            <input type="text" id="EventMSGT" placeholder="Send message here"><button onclick="EsendMessage();" id="EventMSGB" class="std_btn blue_btn">Send</button>
            <p id="Devnavtext">Send a message as a url.</p>
            <input type="text" id="urlsendT" placeholder="paste url here" class='std_box'><input type="text" id="urlsendT2" placeholder="put message here" class='std_box'><br>
            <button onclick="urlsend()" class="std_btn blue_btn">Send</button>
            <br>
            <span id="DevchatB" onclick="opendevchat();">Dev Chat</span>
             <div class="sidenavRC" id="dev_chat"><a href="javascript:void(0)" class="closebtnR" onclick="closedevchat()">×</a><a onclick="reloadiframe();">Refresh Dev Chat</a> <br> <iframe name="iframe1" id="dev_chat_iframe"
        frameborder="0" border="0" cellspacing="0"
        style="border-style: none; width: 100%; height: 725px;"></iframe></div>
        </div>
        <div id="EditorStuff" class="sidenavR" style="display: none;">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="EditcloseNav()">×</a>
            <h3 id="Devnavtext">This is the menu used by style editor staff</h3>
            <input type="text" id="SOsendTE" placeholder="SONG message:" class='std_box'>
            <button onclick="SOsendMessage('SOsendTE');" class='std_btn song_btn'>Send</button><br>
            <input type="text" id="sendimgTE" placeholder="Paste img url here" class='std_box'><button onclick="sendImage('sendimgTE');" class='std_btn black_btn'>Send</button><br> 
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' class="std_btn green_btn">Print total line count</button>
            <button onclick="refreshUsers();" class="std_btn dashed_btn warn_btn">Refresh users DB</button><br><br>
        </div>
        <div id="JOTDStuff" class="sidenavR" style="display: none;">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="JOTDcloseNav()">×</a>
            <h3 id="Devnavtext">This is the menu used by JOTD staff</h3>
            <input type="text" id="jsendTJ" placeholder="JOTD message:" class='std_box'>
            <button onclick="JsendMessage('jsendTJ');" class='std_btn jotd_btn'>Send</button><br>
            <input type="text" id="sendimgTJ" placeholder="Paste img url here" class='std_box'><button onclick="sendImage('sendimgTJ');" class='std_btn black_btn'>Send</button><br> 
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' class="std_btn green_btn">Print total line count</button>
            <button onclick="refreshUsers();" class="std_btn dashed_btn warn_btn">Refresh users DB</button><br><br>
        </div>
        <div id="ModStuff" class="sidenavR" style="display: none;">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="ModcloseNav()">×</a>
            <h3 id="Devnavtext">This is the mod menu use for admistrating chat</h3>
            <p id="Devnavtext">Enter message here and send as mod</p>
            <input type="text" id="fsendTM" placeholder="Force Send message:" class='std_box'><br>
            <button onclick="FsendMessageM();" class="std_btn blue_btn">Force Send</button><br><button onclick="lock_chat();" class="std_btn red_btn">Lock</button><br>
            <p id="Devnavtext">Enter username in here for muting</p>
            <input type="text" id="muteuserboxM" placeholder="type user to mute here:" class='std_box'><button onclick="mute();" id="mute" class="std_btn">Mute</button>
            <button onclick="unmute();" class="std_btn blue_btn">Unmute</button><br>
            <button onclick="banHammer();" class="std_btn warn_btn dashed_btn">Ban</button><br>
            <p id="Devnavtext">send stats about the chat</p>
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' class="std_btn green_btn">Print total line count</button>
            <button onclick="getStats();" class="std_btn green_btn">Send server stats in chat.</button><br>
            <button onclick="reset_chat()" class='std_btn dashed_btn warn_btn'>Reset chat</button><button onclick="refreshUsers();" class="std_btn dashed_btn warn_btn">Refresh users DB</button><br><br>
            <input type="text" id="sendimgTM" placeholder="Paste img url here" class='std_box'><button onclick="sendImage('sendimgTM');" class='std_btn black_btn'>Send</button><br> 
            <br>
            <br>
        </div>
        <span class="topright" id="toprightD" onclick="devopenNav();" style="display: none;">🔧</span>
        <span class="topright" id="toprightE" onclick="EditopenNav();" style="display: none;">&#127925;</span>
        <span class="topright" id="toprightJ" onclick="JOTDopenNav();" style="display: none;">&#128556;</span>
        <span class="topright" id="toprightM" onclick="ModopenNav();" style="display: none;">🛡</span>
        <div id="chat">
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Rules</h2>
                    <h4 style="color: red;">To use the chat you must agree to all rules and folow them</h4>
                    <!-- This hides it. -->
                    <div class="content">
                        <button class="limited_close" onclick="runLimitedStartup();">No</button>
                        <button class="close" onclick="runStartup();checkMsgBox();">Yes</button>
                        <p style="color: #000000;">No spamming (no more than 3 messages by one person in a row)<br>No uppercase words<br>No Cursing<br> Keep nicknames and roles consistent and noticeable as you if changed<br>No other languages besides English allowed unless prompted by a Founder or Developer<br>No photos or images<br>No more than 3 dots a message<br>No breaking into menus unless you have permission.</p>
                    </div>
                </div>
            </div>
        </div><br>
        <div id="sides">
            <div id="chatbox">      
                <p id="msg-title">Message: </p>  
                <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"></input><br/>
                <button onClick="sendMessage();" id="send">Send</button>
            </div>
        </div><br>
        <div id="activenav">
            <br><br>
            <img id="pfplgo"></img><br>
            <div id="online_users">
                
            </div>
        </div>
        <div id="Privatemsg">
            
        </div>
    </body>
</html>