<!DOCTYPE html>
<html>
    <head>
        <title>OCD wleb Potato man Skill Issue!!!1!</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="manifest" href="/static/manifest.json" />

        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <script src="/static/static.js"></script>
        <script src="/static/ajax.js"></script>
        <script src="/static/html-stuff.js"></script>
        {% block header %}
        {% endblock %}
        <link rel="stylesheet" href="/static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="cseven, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
        <meta content="School Chat" property="og:title" />
        <meta content="A chat app, what else did you think this is?" property="og:description" />
        <meta content="your url here.com" property="og:url" />
        <meta content="favicon.ico" property="og:image" />
	</head>
  
    <body>
        {% block content %} 
        {% endblock %}
        <version style="transition: 1s ease-in-out;">
            <div id="arrowContainer">
              <h1>&lt;</h1>
            </div>
            <span id="versionText" style="font-size: 20px;margin-top: 25px;">Version: 1.3.2</span>
        </version>

        <script>
            let versionTag = document.querySelector('version');

            versionTag.addEventListener('mouseover', () => {
            versionTag.style.transition = "all 1s ease-in-out";
            versionTag.style.right = "-3.2%";
            })

            versionTag.addEventListener('mouseleave', () => {
            versionTag.transition = "all 1s ease-in-out";
            versionTag.style.right = "";
            })
        </script>
    </body>
</html>
