{% extends 'index.html' %} 
{% block content %}
<div style="display: flex; height: 100%; width: 100%;">
    <div class="LoginPopup" id="LoginPopup">
        <div id="LoginContent">
        <h2>Login</h2>
            <form method="post">
                <input type="text" id="user" placeholder="Username" autocomplete="off" class="LoginInput" name="username">
                <input type="password" id="passwd" placeholder="Password" autocomplete="off" class="LoginInput" name="password"><br>
                <input type="checkbox" id="tosCH" style="margin-top: 20px;" name='TOSagree'>Accept <a href="" style="text-decoration: none;color: #7c0ed7;">Terms &amp; Conditions</a>
                <button type='submit' class="LoginBTN" name="login">Log In</button>
                <a href="/signup" style="color:#2990f9;">Create an account here</a>
            </form>
        </div>
        {% if error %}
            <h2 style="color:red; pointer-events: none;">{{error}}</h2>
        {% endif %}
    </div>
    <div class="ChatinfoLP">
        <h1 class="LoginTTL">School Chat</h1>
        <hr>
        <h4 class="LoginTXT">School chat was made by cserver, and cseven for chatting with friends but grew into a bigger project.</h4>
        <h3 class="LoginTXT">Rules:</h3>
        <h4 class="LoginTXT">
            <ul>
                <li>Do not be racist.</li>
                <li>no nsfw</li>
                <li>Keep cursing to a minimal.</li>
                <li>Do not make chat room names offensive.</li>
                <li>Do not spam pings.</li>
                <li>No capitalized words.</li>
                <li>Keep the language english (unless in a specal chat room).</li>
            </ul>              
            <font color="red">Breaking the rules will cause you to be muted, continue to break will result in a ban.</font>
            <font color="orange">This version of the chat is a beta version so things might not work as intended if you find any bugs make a issue <a href="https://github.com/01000011-00110111/School-Chat/issues">here</a>.</font>
            <p>(if you have more rules open the Issue <a href="https://github.com/01000011-00110111/School-Chat/discussions/97">Rules</a> and comment the rule there!)</p>
        </h4>
    </div>
    <!-- <div class="activenav" id="activenav">
        <hr id="online_border">
        <div id="online_users"></div>
    </div> -->
</div>
{% endblock %}