<!DOCTYPE html>
<html>
	<head>
        <title>Class Chat MOD</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE CHAT.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/chat.js"></script>
        <script src="static/styles.js"></script>
        <script src="static/mod-menu.js"></script>
        <script src="static/non-admin.js"></script>
        <script src="static/Cmds.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body onload="runCheckStartup();" id="body">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfdCGMUhy6RwT2yMtM7Egd8bC3VNAE5_-w_8wZzyXwBX9daVg/viewform">Share ideas</a>
            <a href="https://trello.com/b/ndht1H9F/chat-plans">Trello</a>
            <a href="https://tux.school-chat.us/changelog">Update log</a>
            <a href="https://docs.google.com/document/d/17JESl1yq2wxHypgCRimOauFCQIJboKFX1D0Jga0OYGw/edit?usp=sharing">Rules</a>
            <a href="#your safe now">Soon</a>
            <input type="text" id="user" name="username" placeholder="username" maxlength="12"></input><br/>
            <input type="text" id="profile_picture" name="profile picture" placeholder="Profile Picture" hidden>
            <input type="text" id="role" name="role" placeholder="role" maxlength="18"><br>
            <div class="colorDropdown">
                <button onclick="dropdownTheme()" class="dropbtn">Themes</button>
                <div id="myDropdown" class="dropdown-content">
                    <a id="dark" onclick="setDarkStyle();">Dark</a>
                    <a id="light" onclick="setLightStyle();">Light</a>
                    <a id="specal1" onclick="setSpecalStyle();">Special</a>
                    <a id="event" onclick="whichEvent();">Event</a>
                </div><br>
                <h3 id="user_colorTXT">CHOOSE YOUR COLOR:</h3>
                <p id="user_colorTXT">Username: </p>
                <input type="color" value="#ff00ff" id="user_color" name="color choser"><br>
                <p id="user_colorTXT">Role: </p>
                <input type="color" value="72a1d3" id="role_color" name="color choser"><br>
                <p id="user_colorTXT">Message: </p>
                <input type="color" value="#ff00ff" id="message_color" name="color choser">
                <br><input id="notif" type="button" onclick="NotificationsB()" value='Disable notifications' /><br>
            </div>
            <h3><a href="mailto:harperom62@k12louisa.org">Contact us</a></h3>
            <h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSdK8bsgzEn2kzDXQTu4sc-AP2HwK8aCZ_5NYhsKWItnJz2rDQ/viewform">Report Bugs</a></h4>
        </div>
        <span id="topleft" style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <div id="devSidenav" class="sidenavR">
            <br>
            <a href="javascript:void(0)" class="closebtnR" onclick="devcloseNav()">×</a>
            <h3 id="Devnavtext">This is the mod menu use for admistrating chat</h3>
            <p id="Devnavtext">Enter message here and send as mod</p>
            <input type="text" id="fsendT" placeholder="Force Send message:"><br>
            <button onclick="FsendMessageM();" id="fsendB">Force Send</button><br><button onclick="lock_chat();" id="lock">Lock</button><br>
            <p id="Devnavtext">Enter username in here for muting</p>
            <input type="text" id="muteuserbox" placeholder="type user to mute here:"><button onclick="mute();" id="mute">Mute</button><button onclick="unmute();" id="unmute">Unmute</button><br>
            <button onclick="banHammer();" id="ban">Ban</button><br>
            <p id="Devnavtext">send stats about the chat</p>
            <button onclick='ajaxGetRequest("/chat_count", dummyajax);' id="chatlineB">Print total line count</button>
            <button onclick="getStats();" id="statsB">Send server stats in chat.</button><br>
            <button onclick="reset_chat()" id="ChatrestB">Reset chat</button><button onclick="refreshUsers();" id="rfUserDB">Refresh users DB</button><br><br>
            <input type="text" id="sendimgT" placeholder="Paste img url here"><button onclick="sendImage();" id="sendimgB">Send</button><br> 
            <br>
            <br>
            <button id="cookieRemoverB">Cookie eater</button><p style="color: white;">not functional sorry cole</p>
        </div>
        <span id="topright" onclick="devopenNav();">🛡</span>
        <div id="chat">
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Mod Rules</h2>
                    <h4 style="color: red;">To use the chat you must agree to all rules and folow them</h4>
                    <!-- This hides it. -->
                    <div class="content">
                        <button class="limited_close" onclick="runLimitedStartup();">No</button>
                        <button class="close" onclick="runStartup();checkMsgBox();">Yes</button>
                        <p style="color: #000000;">No spamming (no more than 3 messages by one person in a row)<br>No uppercase words<br>No Cursing<br> Keep nicknames and roles consistent and noticeable as you if changed<br>No other languages besides English allowed unless prompted by a Founder or Developer<br>No photos or images<br>No more than 3 dots a message<br>No abuse of power<br>Do not let anyone have access to dev web pages unless prompted by founders or developers</p>
                    </div>
                </div>
            </div>
        </div><br>
        <div id="sides">
            <div id="chatbox">      
                <p id="msg-title">Message: </p>  
                <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"></input><br/>
                <button onClick="sendMessage();" id="send">Send</button>
            </div>
        </div><br>
        <div id="activenav">
            <div id="accSidenav" class="sidenava" hidden>
                <a href="javascript:void(0)" class="closebtna" onclick="closeaccNav()">×</a>
                <p id="#logintxt1">Username:</p>
                <input type="text" id="user" placeholder="Username"><br>
                <p id="#logintxt1">Password:</p>
                <input type="text" id="pass" placeholder="Password"><br>
                <button id="login">Login</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <input type="text" name="username" placeholder="username" maxlength="12"><br>
                <input type="text" id="role" name="role" placeholder="role" maxlength="50"><br>
                <input type="text" id="profile_picture" name="profile picture" placeholder="Profile Picture">
            </div>
            <span id="account" onclick="openaccNav()" hidden>☰</span>
            <div id="online_users" style="color: white;">
                
            </div>
        </div>
    </body>
</html>