{% extends 'index.html' %}
{% block header %}
<script src="static/settings.js" defer></script>
{% endblock %}
{% block content %}
<div id="example">
</div>
<form method="post">
    <h3 id="user_colorTXT">message settings</h3>
            <p id="user_colorTXT">Username: </p>
            <input type="text" id="username" value='{{displayName}}' placeholder="Username" name="display" maxlength="12" class='std_box'><br>
            <input type="color" value='{{user_color}}' id="user_color" name="user_color"><br>
            <p id="user_colorTXT">Role: </p>
            <input type="text" id="role" name="role" placeholder="role" value='{{role}}' maxlength="18" class='std_box'><br>
            <input type="color" value='{{role_color}}' id="role_color" name="role_color"><br>
            <p id="user_colorTXT">Message: </p>
            <input type="color" value='{{message_color}}' id="message_color" name="message_color"><br>
            <p id="user_colorTXT">Profile pictures</p>
            <input type="text" id="profile" name="profile" placeholder="Profile Picture" value='{{profile}}' class='std_box'><br>
    <div class="themeDropdown">
        <button type="button" class="themeBtn" onclick="toggleDropdown()">Themes</button>
        <div class="themeContent">
            <a class="themeOption" id='dark' onclick="setTheme('dark');">Dark</a>
            <a class="themeOption" id='light' onclick="setTheme('light');">Light</a>
            <!-- <a class="themeOption" onclick="setTheme('special');">Special</a> -->
            <!-- <a class="themeOption" onclick="setTheme('event');">Event</a> -->
        </div>
    </div>
    <!-- Add an input element to store the selected theme value -->
    <input type="hidden" name="theme" value="">
    <!-- Add an input element to store the selected theme value -->
    <input type="text" id="Ausername" placeholder="login username" maxlength="15" name="user" value='{{user}}' hidden><br>
    <p id="user_colorTXT">Password:</p><br>
    <input type="password" id="Apassword" placeholder="Password" name="password" value='{{passwd}}' hidden><br>
    <h2 style="color:green; pointer-events: none;">{{passwd}}</h2>
    <br>
    <!-- <input id="notif" type="button" onclick="NotificationsB()" value='Disable notifications' /><br>
    <input id="pfpbtn" type="button" onclick="ProfilesB()" value='Disable profile pictures' /><br> -->
    <button type="submit" id="change" name="update">update</button>
</form>
<hr id="border">
{% if error %}
    <h2 style="color:red; pointer-events: none;">{{error}}</h2>
{% endif %}
<h6><a href="https://github.com/01000011-00110111/School-Chat">Source Code</a></h6>
<div class="activenav" id="activenav">
    <div class="AccountPopup">
        <input type="image" id="pfpmenu" src="static/favicon.ico" class="PictureBTN" onclick="OpenAC();"/>
        <div id="AccControls" class='AccControls'>
            <a href="/settings">Logout</a>
            <a href="/">Chat</a>
            <a href="#">Random</a>
        </div>
    </div>
    <hr id="online_border">
    <div id="online_users"></div>
</div>
{% endblock %}