<!DOCTYPE html>
<html>
	<head>
        <title>Class chat signup page</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE signup.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>

    <body id="body">
        <p>1 no spaces (it breaks code)<br> 2 must be at max 8 letters (to not overflow sizing)<br> 3 no usernames with code in them (so it will not break code and let people send whispers to you)</p><br>
        <form method="post">
            <input type="text" class="signuptext" id="SUsername" name='SUsername' placeholder="Username:" maxlength="25" required value="{{SUsername}}"><br>
            <input type="text" class="signuptext" name='SDisplayname' placeholder="Displayname:" maxlength="15" required value="{{SDisplayname}}"><br>
            <input type="text" class="signuptext" name='SRole' placeholder="Role:" maxlength="18" required value="{{SRole}}"><br>
            <input type="password" class="signuptext" name='SPassword' placeholder="Password:" required><br>
            <input type="password" class="signuptext" name='SPassword2' placeholder="Confirm password" required><br>
            <button type="submit" class="signupbtn" id="signup" name='submit'>Signup</button>
        </form>
        {% if error %}
        <h2 style="color:red; pointer-events: none;" class="signuptext">{{error}}</h2>
        {% endif %}
    </body>
</html>