<!DOCTYPE html>
<html>
	<head>
        <title>Class chat signup page</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <!-- SOCKETIO IMPORT MUST BE HERE, BEFORE signup.JS IMPORT. IT BREAKS OTHERWISE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/signup.js"></script>
        <link rel="stylesheet" href="static/style.css">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>

    <body id="body">
        <p>1 no spaces (it breaks code)<br> 2 must be at max 8 letters (to not overflow sizing)<br> 3 no usernames with code in them (so it will not break code and let people send whispers to you)</p><br>
        <input type="text" class="signuptext" id="SUsername" placeholder="Username:" maxlength="25"><br>
        <input type="text" class="signuptext" id="SDesplayname" placeholder="Displayname:" maxlength="15"><br>
        <input type="text" class="signuptext" id="SRole" placeholder="Role:" maxlength="18"><br>
        <input type="password" class="signuptext" id="SPassword" placeholder="Password:"><br>
        <input type="password" class="signuptext" id="SPassword2" placeholder="Confirm password"><br>
        <button onclick="signup()" class="signupbtn" id="signup">Signup</button>
    </body>
</html>