<!DOCTYPE html>
<html>
	<head>
        <title>Class chat update logs</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
	</head>
    <!-- Need more information for the update and improve the page -->
    <body id="body">
        <a href="https://tux.school-chat.us/">return</a>
        <h1>Update 0.0.2.3</h1>
        <h2>Bug fixes and cookie eater</h2>
        <p>Fixed some socket io errors and add cookie eater that clears all cookies and removes usernames</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.2</h1>
        <h4>implemented socket io to sending</h4>
        <p>we added socket io to sending messages so not you send messages instantly no delay!</p>
        <h4>added the rule popup</h4>
        <p>we added rules and you must accept to chat if you decline you can see chat but not send messages!</p>
        <h4>Filtering usernames</h4>
        <p>we have readded filtering usernames for example you can no longer send ad "[admin]" and many more!</p>
        <h4>Fixed Dev features</h4>
        <p>We have fixed send 100 lines, send as admin, and mod, reseting chat, and server stats</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.1</h1>
        <h2>Bug fixes</h2>
        <p>Fixed user colors not getting set and fixed sending messages</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.2.0</h1>
        <h2>Reworked the framework!!</h2>
        <p>The biggest change is that we reworked the framework and implemented socket io the server now runs a lot more efficiently.<br>
        Thanks to flask running socket io we can now implement things that we have wanted to but couldn't without socket io. More updates soon!</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.1.1</h1>
        <h4>Bug fixes and quality of life</h4>
        <p>Fixed roleEelement from being null. Added default colors</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.0.1.0</h1>
        <h4>Colors</h4>
        <p> Colors are out you can now change your username, role, and message color for more freedom to have fun</p>
        <h4>ideas and bugs</h4>
        <p>you can finally give your ideas and report bugs quickly by pressing report bugs or share ideas  </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Class chat was made by:</p>
        <p>cserver, and C7 </p> <!--, and our Intern Owen</p> lol-->
    </body>
</html>