<!DOCTYPE html>
<html>
	<head>
        <title>Class chat update logs</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" href="static/style.css"> 
	</head>
    <!-- Need more information for the update and improve the page -->
    <body id="body">
        <a href="https://tux.school-chat.us/">return(not active)</a>
        <h1>Update 0.1.0-beta</h1>
        <h2></h2>
        <p></p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr style="border: 5px #FFD700;">
        <h1>End of alpha</h1>
            <br>
            <br>
        <h1>Update 0.4.2-alpha</h1>
        <h2>Account editing</h2>
        <p>if you go to https://tux.school-chat.us/customize you can edit you accounts collor, password, username.</p>
        <h2>Filtering!</h2>
        <p>Try out new filtering system, where the server compiles the message together.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.4.1-alpha</h1>
        <h2>Bug fixes</h2>
        <p>Fixed the login menu not working and removed the user, password, and role textboxes.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update v0.4.0-alpha</h1>
        <h2>Accounts!</h2>
        <p>We have made accounts allowing you to login and edit you account, message colors, and themes.</p>
        <h2>Wispering!</h2>
        <p>You can now talk to only one person using the wisper text box just type the userame in the first box and in the 2nd type tou message.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update v0.3.4-alpha</h1>
        <h2>Bug fixes removed EA restrictions</h2>
        <p>you can no longer remove you ban or mute by deleting the cookie or local storage file. You also no longer remove ban by muting and them unmute yourself.<br>Removed the password in the main chat page so now you no longer </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.3.3-alpha</h1>
        <h2>Pinging!</h2>
        <p>If you type "@username!" it will ping the user.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.3.2-alpha</h1>
        <h2>data lost</h2>
        <p>Data lost</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.3.1-alpha</h1>
        <h2>data lost</h2>
        <p>Data lost</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.3.0-alpha</h1>
        <h2>data lost</h2>
        <p>Data lost</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.3-alpha</h1>
        <h2>Bug fixes and cookie eater</h2>
        <p>Fixed some socket io errors and add cookie eater that clears all cookies and removes usernames</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.2-alpha</h1>
        <h4>implemented socket io to sending</h4>
        <p>we added socket io to sending messages so not you send messages instantly no delay!</p>
        <h4>added the rule popup</h4>
        <p>we added rules and you must accept to chat if you decline you can see chat but not send messages!</p>
        <h4>Filtering usernames</h4>
        <p>we have readded filtering usernames for example you can no longer send ad "[admin]" and many more!</p>
        <h4>Fixed Dev features</h4>
        <p>We have fixed send 100 lines, send as admin, and mod, reseting chat, and server stats</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.1-alpha</h1>
        <h2>Bug fixes</h2>
        <p>Fixed user colors not getting set and fixed sending messages</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.2.0-alpha</h1>
        <h2>Reworked the framework!!</h2>
        <p>The biggest change is that we reworked the framework and implemented socket io the server now runs a lot more efficiently.<br>
        Thanks to flask running socket io we can now implement things that we have wanted to but couldn't without socket io. More updates soon!</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.1-alpha</h1>
        <h4>Bug fixes and quality of life</h4>
        <p>Fixed roleEelement from being null. Added default colors</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Update 0.1.0-alpha</h1>
        <h4>Colors</h4>
        <p> Colors are out you can now change your username, role, and message color for more freedom to have fun</p>
        <h4>ideas and bugs</h4>
        <p>you can finally give your ideas and report bugs quickly by pressing report bugs or share ideas  </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Class chat was made by:</p>
        <p>cserver, and C7 </p> <!--, and our Intern Owen</p> lol-->
    </body>
</html>