<!DOCTYPE html>
<html>
    <head>
        <title>Viewer page (NO PERMISSIONS)</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
        <script src="static/ajax.js"></script>
        <script src="static/viewer.js"></script>
        <link rel="stylesheet" href="static/style.css"> 
        <meta charset="utf-8">
        <meta name="description" content="A chat app, what else did you think this is?">
        <meta name="author" content="C7, cserver">
        <meta name="googlebot" content="noindex,nofollow,nositelinkssearchbox,nopagereadaloud,notranslate">
	</head>
  
    <body onload='runStartup();' id="body", style="background-color: #000000;">
        <div id="chat" style="color: white;"></div><br>
        <div id="activenav">
            <div id="online_users" style="color: white;"></div>
        </div>
    </body>
</html>