<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A simple theme maker">
  <title>Theme Editor</title>
  <link href="/static/theme/editor.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/static/utils/esx_alerts/alerts.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
  <div class="nav">
    <div id="theme_information_container">
      <div id="theme_project_details">
        <input type="text" placeholder="Project Name" value="Untitled Project" id="n_name">
        <button id="editor_dropdown_button">
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <p>v1.0</p>

      <div id="editor_dropdown">
        <button>
          <i class="fa-solid fa-gear"></i>
          Settings
        </button>

        <button onclick="publishProject();" id="ExportButton">
          <i class="fa-solid fa-upload"></i>
          Publish To Chat
        </button>

        <button id="exit_editor_button">
          <i class="fa-solid fa-right-from-bracket" style="color: #ff2600;"></i>
          Exit Editor
        </button>
      </div>
    </div>
    <div id="nav_container">
      <!-- <i class="fa-solid fa-bars fa-xl" style="color: #ffffff; align-self: center; width: 9%; margin-left: 12px; margin-right: 21px;" onclick="OpenProperties();"></i> -->
      <div id="toolbox">
        <h3 id="editmodeText">Selection:</h3>
        <div>
          <button onclick="setSelectionMode(0); CloseProperties();">
            <i class="fa-solid fa-arrow-pointer" style="color: #feffff;"></i>
          </button>

          <button onclick="setSelectionMode(1);">
            <i class="fa-solid fa-pencil" style="color: #feffff;"></i>
          </button>
        </div>
      </div>
    </div>

    <div id="NavControlBox">
      <div id="help_button">
        <i class="fa-regular fa-circle-question" style="color: #feffff;"></i>
      </div>

      <div id="deployment_container">
        <div id="deployment_indicator"></div>
        <p id="deployment_text">Unknown</p>
      </div>

      <button type="button" id="SaveButton" onclick="saveProject();" name="save">
        <i class="fa-solid fa-floppy-disk" style="color: #feffff;"></i>
        Save
      </button>
    </div>
  </div>

  <div class="main" id="main">
    <div id="controls">
      <div style="text-align: center;">
        <div id="properties_panel_top_controls">
          <h3 id="menuOwner"></h3>
          <button onclick="CloseProperties();" id="closeButton" class="PropertiesButton">
            <i class="fa-solid fa-x"></i>
          </button>

          <!-- content-seperator -->
        </div>
        <hr id="content-seperator">
        <button id="applyButton" class="PropertiesButton">Apply</button>
      </div>
      <div id="c_fh">
        <drawer>
          <drawer_header>
            <p>Background Settings</p>
            <button class="drawer_dropdown_button">
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </drawer_header>

          <drawer_content>
            <select name="background_mode" id="background_mode">
              <option value="solid_color">Solid Color</option>
              <option value="gradient_color">Gradient Color</option>
              <option value="background_image">Background Image</option>
            </select>

            <div id="gradient_buttons_container">
              <input type="range" id="gradient_slider" value="90" max="360" min="0"/>
              <input type="number" id="gradient_slider_value" value="90" max="360" min="0"/>

              <label for="media_importer" id="media_label">
                <p id="media_name">Choose File</p>
                <input type="file" name="media_importer" id="media_importer" accept="image/*" hidden/>
              </label>
              
              <button id="remove_background_button">
                <i class="fa-solid fa-xmark"></i>
              </button>

            </div>
          </drawer_content>
        </drawer>

        <drawer>
          <drawer_header>
            <p>Color Palette</p>
            <button class="drawer_dropdown_button">
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </drawer_header>

          <drawer_content>
            <label for="body-color" id="ColorPicker">
              <div class="ColorDisplay"></div>
              <input type="text" id="color_display_input">
            </label>

            <label for="2nd-body-color" id="ColorPicker" style="display: none;">
              <div class="ColorDisplay"></div>
              <input type="text" id="color_display_input">
            </label>

            <div style="display: flex; margin-left: 11px; justify-content: space-evenly; width: fit-content; min-width: 203px;">
              <p id="transparency_value">0</p>
              <input type="range" min="0" max="1" step="0.1" value="1" id="transparency_input"/>
            </div>
          </drawer_content>
        </drawer>

        <drawer>
          <drawer_header>
            <p>Text Style</p>
            <button class="drawer_dropdown_button">
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </drawer_header>

          <drawer_content>
            <label for="text-color" id="ColorPicker">
              <div class="ColorDisplay"></div>
              <input type="text" id="color_display_input">
            </label>
          </drawer_content>
        </drawer>

        <drawer>
          <drawer_header>
            <p>Effects</p>
            <button class="drawer_dropdown_button">
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </drawer_header>

          <drawer_content>
            <p>Shadow Color</p>
            <label for="shadow-color" id="ColorPicker">
              
              <div class="ColorDisplay"></div>
              <input type="text" id="color_display_input">
            </label>
            <p>Border Color</p>
            <label for="border-color" id="ColorPicker">
              
              <div class="ColorDisplay"></div>
              <input type="text" id="color_display_input">
            </label>
          </drawer_content>
        </drawer>
      </div>
    </div>

    <div id="unsupported_browser_color_controls">
      <p>Background</p>
      <input type="color" id="body-color" class="color_picker">

      <p>Gradient</p>
      <input type="color" id="2nd-body-color" class="color_picker">

      <p>Text</p>
      <input type="color" id="text-color" class="color_picker">

      <p>Shadow</p>
      <input type="color" id="shadow-color" class="color_picker">

      <p>Border</p>
      <input type="color" id="border-color" class="color_picker">
    </div>

    <div class="editor">
      <div id="ChatMockup">
    
    
        <div id="topbar">
    
            <span id="topleft" style="font-size: 34px; cursor: pointer;  color: rgb(25, 32, 128);" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
            <h2 id="RoomDisplay" style="margin: 14.5px 0;">/Main</h2>
            <div class="AccountPopup">
            <input type="image" id="pfpmenu" class="PictureBTN" name="pfpmenu" src="https://www6.school-chat.us/static/favicon.ico">
            <div id="AccControls" class="AccControls" style="display: none;">
                    <a href="/logout">Logout</a>
                    <a href="/settings">Settings</a>
                    <a href="/#">Soon</a>
                </div>
            </div></div>
            <div id="mySidenav" class="sidenav" style="background-color: rgb(17, 17, 17); width: 0px;">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: rgb(129, 129, 129);"><i class="fa-solid fa-x"></i></a>
              <div style="align-self: baseline;">
                  <div class="ChatRoomS">
                      <div id="ChatRoomls">
                        <hr id="room_bar">
                        <a id="room_names" style="color: rgb(255, 255, 255); background: rgb(23, 23, 23)">/Main</a>
                        <hr id="room_bar">
                        <hr id="room_bar">
                        <a id="room_names" style="color: rgb(255, 255, 255); background: rgb(23, 23, 23)">/example1</a>
                        <hr id="room_bar">
                        <hr id="room_bar">
                        <a id="room_names" style="color: rgb(255, 255, 255); background: rgb(23, 23, 23)">/example2</a>
                        <hr id="room_bar">
                        <hr id="room_bar">
                        <a id="room_names" style="color: rgb(255, 255, 255); background: rgb(23, 23, 23)">/example3</a>
                        <hr id="room_bar">
                      </div>
                  </div>
              </div>
                  <div id="extratext" style="align-self: baseline;">
                      <h6 class="=extrabuttons" style="padding: 0 0 15px 0;"><a class="extrabuttons" style="color: rgb(129, 129, 129);">Update log</a></h6>
                      <h6 style="padding: 0 0 15px 0;"><a class="extrabuttons" style="color: rgb(129, 129, 129);">Contact us</a></h6>
                      <h6 style="padding: 0 0 15px 0;"><a class="extrabuttons" style="color: rgb(129, 129, 129);">Source Code</a></h6>
                  </div>
                  <br>
                  <br>
          </div>
        <div id="chat">
          <div class="message"> 
            <div class="message_image_content"><img class="message_pfp" src={{profile}}></div>
            <div class="message_content">
            <div class="user_info_div"><p style="color:#ff2600">{{username}}</p><p>*</p>
            <p>Tue Oct 01 07:28 PM</p>
            <p style="background:#3140ff; color: #ffffff;" class="badge">{{role}}</p><p style="background:dev; color: #ffffff;" class="badge dev"></p>
            </div>
            <div class="user_message_div"><p style="color:#00f900">This is a test message</p></div> </div>
            </div>
        </div>
    
        <div id="sides">
            <div id="chatbox">       
                <input type="text" id="message" placeholder="type your message here" maxlength="250"><br>
                <button id="send">Send</button>
            </div>
        </div><br>
    
        <div class="activenav" id="activenav" style="background-color: rgb(12, 12, 12);">
            <!-- <hr id="online_border"> -->
            <div id="online_users">
              <div>
                <font id="online" style="color: rgb(255, 255, 255);" size="5%">Online: 1</font> <font id="offline" style="color: rgb(255, 255, 255);" size="5%">Offline: 14</font>
                <br><br> 
                
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #1">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #1</h3>
                            <p style="font-size: 12px;">Tester 1</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: lime; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #2">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #2</h3>
                            <p style="font-size: 12px;">Tester 2</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: lime; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #3">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #3</h3>
                            <p style="font-size: 12px;">Tester 3</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: lime; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #4">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #4</h3>
                            <p style="font-size: 12px;">Tester 4</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: red; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #5">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #5</h3>
                            <p style="font-size: 12px;">Tester 5</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: red; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #6">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #6</h3>
                            <p style="font-size: 12px;">Tester 6</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: red; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #7">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #7</h3>
                            <p style="font-size: 12px;">Tester 7</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: red; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
            
                <div class="onlineList_user_preview" id="onlineList_user" title="Guest user #8">
                    <p style="background: transparent; color: white; text-align: center; position: absolute; left: 15%; margin-top: -30px; border-radius: 100px; min-width: 18px; min-height: 18px; height: min-content; width: min-content; align-content: center;" id="unread_indicator"></p>
                    <img class="user_list_pfp" src="/static/favicon.ico">
                    <div style="display: grid; left: -10px; position: relative;">
                        <div style="display: grid; align-items: left; min-width: 120px;">
                            <h3 style="color: rgb(255, 255, 255);">Guest user #8</h3>
                            <p style="font-size: 12px;">Tester 8</p>
                        </div>
                    </div>
                    <div style="display: grid;">
                        <div style="background: red; width: 10px; height: 10px; border-radius: 100px; right: 12px; position: relative;">

                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project_panel">
    <div id="left">
      <button id="export_project_button">
        <i class="fa-solid fa-download"></i>
        Export
      </button>

      <button>
        <i class="fa-solid fa-sheet-plastic"></i>
        Project
      </button>

      <button>
        <i class="fa-solid fa-user-group"></i>
        Collaborators
      </button>
    </div>

    <div id="right">
      <p>e</p>
    </div>
  </div>

    <script src="https://livejs.com/live.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/static.js"></script>
    <script src="/static/theme/engine.js"></script>
    <script src="/static/utils/esx_alerts/alerts.js"></script>
    <script src="/static/utils/esx_sound_library/init_sounds.js"></script>
    <script type='text/javascript' defer>Runstartup();</script>
</body>

</html>