<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A simple theme maker">
  <title>Theme Editor</title>
  <link href="/static/theme/style.css" rel="stylesheet" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/69e44b2a4c.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="nav">
    <div id="nav_container">
      <!-- <i class="fa-solid fa-bars fa-xl" style="color: #ffffff; align-self: center; width: 9%; margin-left: 12px; margin-right: 21px;" onclick="OpenProperties();"></i> -->
      <div id="toolbox">
        <button onclick="setSelectionMode(0); CloseProperties();">
          <i class="fa-solid fa-arrow-pointer" style="color: #feffff;"></i>
        </button>

        <button onclick="setSelectionMode(1);">
          <i class="fa-solid fa-pencil" style="color: #feffff;"></i>
        </button>
      </div>
      <h3 id="editmodeText">Selection:</h3>
    </div>
    <input type="text" placeholder="Project Name" value="Untitled Project" id="n_name">
    <div id="NavControlBox">
      <button id="ExportButton" onclick="exportProject();">Export Theme</button>
      <button type="button" id="SaveButton" onclick="saveProject();" name="save">Save</button>
    </div>
  </div>

  <div id="themeBox">
    <div>

    </div>

    <div id="code">

    </div>
  </div>

  <div class="main">
    <div id="controls">
      <div style="text-align: center; margin-top: 16px;">
        <h3 id="menuOwner"></h3>
        <div style="height: 100%; display: flex; justify-content: space-evenly;">
          <button id="applyButton" class="PropertiesButton">Apply</button>
          <button onclick="CloseProperties();" id="closeButton" class="PropertiesButton">Close</button>
        </div>
      </div>
      <div id="c_fh">
        <div id="fh">
          <div>
            <div class="i_h">
              <h5>Element</h5>
              <div style="display: flex;">
                <input type="text" placeholder="X" class="ValueBox">
                <input type="text" placeholder="Y" class="ValueBox">
              </div>
              <div style="display: flex;">
                <input type="text" placeholder="Width" class="ValueBox">
                <input type="text" placeholder="Height" class="ValueBox">
              </div>
            </div>
          </div>
        </div>
        <div id="fh">
          <div>
            <div class="i_h">
              <h5>Colors</h5>
              <label for="body-color" id="ColorPicker">
                <div class="ColorDisplay"></div>
                <p>Background Color</p>
              </label>

              <label for="text-color" id="ColorPicker">
                <div class="ColorDisplay"></div>
                <p>Text Color</p>
              </label>

              <label for="shadow-color" id="ColorPicker">
                <div class="ColorDisplay"></div>
                <p>Shadow Color</p>
              </label>

              <label for="border-color" id="ColorPicker">
                <div class="ColorDisplay"></div>
                <p>Border Color</p>
              </label>
                
                <input type="color" id="body-color" style="display: none">
                <input type="color" id="text-color" style="display: none">
                <input type="color" id="border-color" style="display: none">
                <input type="color" id="shadow-color" style="display: none">
            </div>
          </div>
        </div>
        <div id="fh">
          <div>
            <div class="i_h">
              <h5>Layers</h5>
              <input type="number" class="ValueBox" id="LayerOpacity" max="100" min="0" value="100" placeholder="Layer Opacity"/>
              <button id="LayerProperties">Hide Layer</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="editor">
      <div id="ChatMockup">
    
    
        <div id="topbar">
    
            <span id="topleft" style="font-size: 40px; cursor: pointer;  color: rgb(25, 32, 128);" onclick="openNav()">☰</span>
            <h2 id="RoomDisplay" style="margin: 14.5px 0;">/Main</h2>
            <div class="AccountPopup">
            <input type="image" id="pfpmenu" class="PictureBTN" name="pfpmenu" src="https://www6.school-chat.us/static/favicon.ico">
            <div id="AccControls" class="AccControls" style="display: none;">
                    <a href="/logout">Logout</a>
                    <a href="/settings">Settings</a>
                    <a href="/#">Soon</a>
                </div>
            </div></div>
            <div id="mySidenav" class="sidenav" style="background-color: rgb(17, 17, 17); width: 0px;">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: rgb(129, 129, 129);">×</a>
                <hr style="border: 5px solid grey;">
                <div>
                    <p>change the chat room you are in</p>
                    <div class="ChatRoomS">
    
                    </div>
                </div>
                    <div id="extratext">
    
                    </div>
                    <br>
                    <br>
            </div>
        <div id="chat">
          [Fri 03:30 PM]
          <img class="pfp" src="https://www6.school-chat.us/static/profiles/81b4a197-a670-4497-9c3e-08cb87f44737.png">
          <font color="#690e8b">Kokonoe</font>
          (
          <font class="Dev_colors-loop">Student&nbsp;Council&nbsp;President</font>
          ) - 
          <font color="#058cfa">This is a test message</font>
        </div>
    
        <div id="sides">
            <div id="chatbox">       
                <input type="text" id="message" onkeypress="checkKey();" placeholder="type your message here" maxlength="250"><br>
                <button id="send">Send</button>
            </div>
        </div><br>
    
        <div class="activenav" id="activenav" style="background-color: rgb(12, 12, 12);">
            <!-- <hr id="online_border"> -->
            <div id="online_users"><font size="5%">Online: 1</font><br><br>Guest user<br></div>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/static.js"></script>
    <script src="/static/theme/engine.js"></script>
    <script type='text/javascript' defer>Runstartup();</script>
</body>

</html>