<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/theme/projects.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <title>Projects</title>
</head>
<body>
  <div class="main">
    <div class="Header">
      <div class="HeaderColumn">
        <img id="TeamIcon" src="{{profile}}">
        <p id="TeamName"></p>
      </div>

      <div class="HeaderColumn" style="justify-content: end;">
        <div class="HeaderBtn" id="ExtensionBtn">Extensions</div>
        <div class="HeaderBtn"><i class="fa-solid fa-message" style="color: #ffffff;"></i></div>
        <div class="HeaderBtn"><i class="fa-solid fa-bell" style="color: #ffffff;"></i></div>
        <div class="HeaderBtn" id="ellipsis_button"><i class="fa-solid fa-ellipsis" style="color: #ffffff;"></i></div>
        <div id="ellipsis_dropdown">
          <button id="settings_button">
            <i class="fa-solid fa-gear"></i>
            Settings
          </button>

          <button id="back_button">
            <i class="fa-solid fa-angle-left"></i>
            Back to chat
          </button>

          <button id="logout_button">
            <i class="fa-solid fa-right-from-bracket" style="color: #ff2600;"></i>
            Logout
          </button>
        </div>
      </div>
    </div>

    <!-- <div id="contxtNav">
      <button>Projects</button>
      <hr>
      <button>Assignments</button>
      <button>Calender</button>
      <button>Tags</button>
    </div> -->

    <div id="actionBar">
      <div id="actionColumn">
        <h2 id="projectNumber"></h2>
        <div id="searchBox">
          <button class="SearchBtn"><i class="fa-solid fa-filter"></i></button>
          <input type="text" placeholder="Search" id="searchInput" onkeyup="search_projects();">
          <button class="SearchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
          <button class="SearchBtn hidden" id="clearSearchButton"><i class="fa-solid fa-x"></i></button>
        </div>
      </div>

      <div id="actionBar_container">
        <button id="ImportButton">
          <label for="import_theme_input" id="ImportLabel">
            <i class="fa-solid fa-arrow-down"></i>
            Import
          </label>
        </button>
        <input type="file" accept=".themifyProj" name="import_theme" id="import_theme_input" hidden/>

        <button id="NewProjectBtn" onclick="new_project();">
          <i class="fa-solid fa-plus"></i>
          New Project
        </button>
      </div>
    </div>

    <hr>

    <div id="ProjectList">
      
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
  <script src="/static/static.js"></script>
  <script src="/static/theme/web.js"></script>
  <script type='text/javascript' defer>Runstartup();</script>
</body>
</html>